<div class='works-content-container'>
	<div class='works-content-grid row'>
		<div class='works-content-item'>
			<img src='../static/images/opinionated.jpeg'>
			<div class='works-content-overlay'>
				<div class='column column-center'>
					<h3>Opinionated</h3>
					<div class='subheader-bar'></div>

					<div class='works-content-overlay-options column column-center'>
						<button>
							<a href='https://opinionate.herokuapp.com'>
								See Site
							</a>
						</button>

						<button>
							<a href='https://github.com/Bashkir15/Opinion'>
								See Code
							</a>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class='works-content-item'>
			<img src='../static/images/blue-city.jpg'>
			<div class='works-content-overlay'>
				<div class='column column-center'>
					<h3>Boilerplate</h3>
					<div class='subheader-bar'></div>

					<div class='works-content-overlay-options column column-center'>
						<button>
							<a href='https://github.com/Bashkir15/Application_Boilerplate.git'>
								See Code
							</a>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class='works-content-item'>
			<div class='works-content-placeholder'></div>
			<div class='works-content-overlay'>
				<div class='column column-center'>
					<h3>Ciel Blue</h3>
					<div class='subheader-bar'></div>

					<div class='works-content-overlay-options column column-center'>
						<button>
							<a href='https://github.com/Bashkir15'>
								See Code
							</a>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class='works-content-item'>
			<div class='works-content-placeholder'></div>
			<div class='works-content-overlay'>
				<div class='column column-center'>
					<h3>Fitting In</h3>
					<div class='subheader-bar'></div>

					<div class='works-content-overlay-options column column-center'>
						<button>
							<a href='https://github.com/Bashkir15/FittingIn'>
								See Code
							</a>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>