<nav class='blog-nav'>
	<div class='blog-nav-left'>
		<div class='blog-nav-item'>
			<a href='/'>
				<button>
					<span>Portfolio</span>
				</button>
			</a>
		</div>
	</div>

	<div class='blog-nav-rest'>
		<div class='blog-nav-rest-left'>
			<div class='blod-nav-search'>
				<div>
					<span class='mdi mdi-magnify'></span>
				</div>
				<input type='text' name='search' placeholder="Search">
			</div>
		</div>

		<div class='blog-nav-rest-right'>
			<div class='blog-nav-item'>
				<a href='/signup'>
					<button>
						<span>Signup</span>
					</button>
				</a>
			</div>

			<div class='blog-nav-item'>
				<a href='/login'>
					<button>
						<span>Login</span>
					</button>
				</a>
			</div>
		</div>
	</div>
</nav>