.notify-container
	max-width: 98%
	z-index: 999

	&.shown
		.notify
			opacity: 1
			transform: translateX(0)

.notify
	position: relative
	width: 100%
	min-height: 62px
	margin-bottom: 12px
	padding: 8px
	background: #fff
	border-radius: 1px
	box-shadow: 0 1px 10px 0 rgba(0,0,0,0.1), 0 2px 15px 0 rgba(0,0,0,0.05)
	opacity: 0
	transform: translateX(100%)
	transition: all .6s cubic-bezier(0.5, -0.5, 0.3, 1.4), opacity .6s ease

	&.success
		border-left: 1px solid #1abc9c

	&.danger
		border-left: 1px solid #e74c3c

.notify-title
	margin: 0
	padding: 10px
	margin-bottom: 4px
	@include muli
	font-size: 18px
	font-weight: 400

.notify-text
	padding: 5px 12px
	@include lato
	font-weight: 300
	font-size: 14px

