<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content="width=device-width, initial-scale=1">
		<meta name='description' content="Forrest's Node Application Boilerplate for Authentication, Social-Media and Forums">
		<meta name='keywords' content="Node MongoDB Mongo Angular Javascript Application ES6">

		<title>Forrdev -- Application Boilerplate</title>

		<link rel='preload' href='../styles/main.min.css' as="style" onload="this.rel='stylesheet'">

		<noscript>
			<link rel='stylesheet' href='../styles/main.min.css'>
		</noscript>

		<style>
			body .main-container {
				opacity: 0;
				transition: all .4s ease-out;
			}

			body.loaded .main-container {
				opacity: 1;
			}
			
		</style>
	</head>

	<body>
		<% include ../../shared/preloader %>

		<main class='single-work-study-container main-container'>
			<% include ../../shared/nav %>
			<% include ../../shared/mobile-menu %>
			<header>
				<h1>Application Boilerplate</h1>
			</header>

			<section class='single-work-study'>
				<p>This application was a little bit different for me in the fact that it is a purely server side boilerplate</p>

				<p>The goal of this application was to be a quick start for Node application developers. It packages together some of the most commonly used features when developing an application, such as authentication, social-media aspects, and forum aspects that are all easily customizable</p>

				<ul class='single-work-list'>
					<li>What features are the most commonly used?</li>
					<li>How can I make this customizable?</li>
					<li>What are the best performance improvements I can make that allow this to scale?</li>
				</ul>

				<div class='single-work-list-problem'>
					<p>I browsed around on github looking at node projects and collected a list of the most common implementations for applications. I was able to put together something fairly comprehensive</p>

					<ul class='single-work-list'>
						<li>Authentication was paramount</li>
						<li>A lot of sites were social media based with timelines, friends, and messages</li>
						<li>Many applications were forum or board applications similar to reddit</li>
					</ul>

					<p>With these things in mind it was fairly easy to get started on the boilerplate</p>

					<p>I used Mongo at the start, but eventually will probably refactor the code to allow for more database choices for customizability</p>

					<p>I created the data models and the controllers for each of these functionalities and then hooked them up to route extensions to create a simple and easy to use api</p>
				</div>
			</section>

			<section class='single-work-study-conclusion'>
				<h3>Conclusion</h3>

				<p>While there are many things I would like to improve about this application since it was written before ES6 was standardized, it still serves as a good boilerplate for applications. The api is easy to customize and only use what you need. In the future I would like to rewrite the code in ES6 and make a few performance enhancements</p>

				<p>To see the code check out the link below</p>

				<div class='single-work-study-links'>
					<a href='http://www.github.com/Bashkir15/Application_Boilerplate' target="_blank">
						<span class='icon-github'></span>
					</a>
				</div>
			</section>
		</main>

		<script type='text/javascript'>
			let animation;

			init();

			function init() {
				let canvas = document.querySelector('.preloader-canvas');
				let t = 0;
				let w = canvas.width = window.innerWidth;
				let h = canvas.height = window.innerHeight;

				let context = canvas.getContext('2d');
				context.globalCompositeOperate = 'lighter';

				animate();

				function animate() {
					context.clearRect(0, 0, w, h);

					t += 1;

					for (let i = 0; i < 5000; i++) {
						let f = 0.05 + ((Math.sin(t * 0.00002) / Math.PI) * 0.2);
						let r = (Math.min(w, h)) * (Math.cos((t + i) * f) / Math.PI * 1.5);

						let x = 0.5 + (Math.sin(i) * r + (canvas.width / 2)) | 0;
						let y = 0.5 + (Math.cos(i) * r + (canvas.height / 2)) | 0;

						context.fillStyle = 'rgba(0, 255, 255, 0.5)';
						context.fillRect(x, y, 1.5, 1.5);
					}

					animation = setTimeout(animate, 16);

				}

				function handleDoc() {
					setTimeout(finishLoad, 1500);
				}

				function finishLoad() {
					let canvas = document.querySelector('.preloader-canvas');

					document.body.classList.add('loaded');
					canvas.parentElement.classList.add('finished');
					canvas.parentElement.removeChild(canvas);
					clearTimeout(animation);

					document.removeEventListener('DOMContentLoaded', handleDoc);
				}

				document.addEventListener('DOMContentLoaded', handleDoc);
			}
		</script>
		<script src='../scripts/main.build.min.js' ref='preload'></script>
	</body>
</html>	