.about-page-container
	padding: 180px 0 100px 0

	> header
		padding: 60px 0 90px 0

		h1
			@include muli()
			font-weight: 400
			font-size: 30px
			letter-spacing: 6px
			text-align: center


.about-content
	ul
		display: flex
		flex-direction: column
		align-items: center


	li
		display: flex
		flex-direction: column
		align-items: center
		position: relative
		width: 6px
		margin: 0 auto
		background: #666
		list-style-type: none

		&:nth-of-type(5)
			.timeline-widget
				margin-bottom: 0

		&:nth-child(odd)
			.timeline-widget
				transform: translate3d(100%, 0, 0)

		&:nth-child(even)
			.timeline-widget
				transform: translate3d(-100%, 0, 0)

		&.in-view
			.timeline-widget
				transform: none
				visibility: visible
				opacity: 1


.timeline-marker
	display: flex
	align-items: center
	justify-content: center
	height: 50px
	width: 50px
	border-radius: 50%
	background: #888


.timeline-widget
	position: relative
	width: 80vw
	left: 0
	right: 0
	padding: 15px
	margin: 45px 0
	background: #757575
	visibility: hidden
	opacity: 0
	transition: all .4s ease
	z-index: 50

	p
		@include lato()
		font-weight: 300
		letter-spacing: 1px
		line-height: 28px
		font-size: 14px
		text-align: center



