.single-work-study-container
	header
		display: flex
		align-items: center
		justify-content: center
		padding: 95px 0

		h1
			font-size: 28px
			line-height: 42px
			letter-spacing: 3px
			color: rgba(56, 73, 90, 0.8)
			margin-top: 15px

.single-work-study
	width: 80%
	margin: 0 auto
	padding: 40px 0

	p
		letter-spacing: 2px
		font-size: 18px
		line-height: 42px
		margin-bottom: 38px
		color: #757575

.single-work-list
	list-style: disc
	width: 90%
	margin: 30px auto

	li
		letter-spacing: 2px
		font-size: 20px
		line-height: 40px
		padding: 15px 0
		color: rgb(56, 73, 90)

.single-work-list-problem
	padding: 20px 0

	p
		letter-spacing: 2px
		font-size: 16px
		line-height: 33px
		margin-bottom: 45px

.single-work-list-image
	width: 90%
	margin: 0 auto 70px auto
	height: 400px

	img
		height: 100%
		width: 100%

.single-work-list-full-image
	width: 90%
	margin: 0 auto 70px auto
	height: auto

	img
		height: 100%
		width: 100%

.single-work-study-conclusion
	padding: 30px 0
	width: 80%
	margin: 0 auto

	h3
		letter-spacing: 2px
		font-size: 22px
		line-height: 30px
		margin-bottom: 30px
		text-align: center
		color: rgba(56, 73, 90, 0.8)

	p
		letter-spacing: 2px
		line-height: 30px
		font-size: 18px
		text-align: center
		margin-bottom: 40px
		color: #757575

.single-work-study-links
	display: flex
	align-items: center
	justify-content: center

	a
		display: flex
		align-items: center
		justify-content: center
		padding: 0 20px
		letter-spacing: 2px
		line-height: 35px
		font-size: 20px
		transition: all .4s ease
		color: rgb(56, 73, 90)

		&:nth-of-type(1)
			height: 45px
			width: 45px

		&:hover
			color: #8cd1c4


@media screen and (min-width: 720px)
	.single-work-study-container
		header
			padding: 80px 0

			h1
				margin-top: 28px

	.single-work-study
		p
			margin-bottom: 55px
			line-height: 40px

	.single-work-list
		width: 80%
		margin: 45px auto

	.single-work-list-image
		width: 85%
		margin: 85px auto

	.single-work-list-full-image
		margin: 85px auto

	.single-work-list-problem
		p
			margin-bottom: 55px

	.single-work-study-conclusion
		h3
			font-size: 26px
			margin-bottom: 35px

		p
			line-height: 38px

	.single-work-study-links
		padding: 30px auto

		a
			&:nth-of-type(1)
				font-size: 24px

@media screen and (min-width: 1000px)
	.single-work-study
		width: 70%

		p
			margin-bottom: 50px

	.single-work-list
		margin: 55pxauto

	.single-work-list-image
		width: 80%
		margin: 95px auto

	.single-work-list-full-image
		margin: 95px auto

	.single-work-list-problem
		p
			margin-bottom: 65px

	.single-work-study-conclusion
		width: 70%

		p
			margin-bottom: 65px

@media screen and (min-width: 1300px)
	.single-work-study
		width: 60%

		p
			line-height: 45px


	.single-work-list-image
		margin: 115px auto

	.single-work-list-full-image
		margin: 115px auto

	.single-work-study-conclusion
		width: 60%


@media screen and (min-width: 1600px)
	.single-work-study
		width: 50%

		p
			margin-bottom: 85px

	.single-work-list-image
		width: 60%
		margin: 130px auto

	.single-work-list-full-image
		margin: 130px auto

	.single-work-study-links
		padding: 60px auto

		a
			&:nth-of-type(1)
				font-size: 28px
