.works-page-container
	padding: 200px 0 150px

	.bg
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		background: #36ceb0
		overflow: hidden
		z-index: 1

		img
			position: absolute
			top: 0
			height: 100%
			width: auto

	.band.over
		left: 0
		background: #fff
		z-index: 3

	.band.under
		display: none
		bottom: -700px
		left: -10%
		width: 150%
		background: #36d2b4
		z-index: 2

.works-container
	display: flex
	flex-direction: column
	align-items: center
	width: 90%
	padding-top: 320px
	margin: 0 auto


.works-header
	padding-bottom: 180px

	.content
		text-align: left

		h1
			margin: 0 0 30px
			font-size: 48px
			line-height: 1.25em
			color: #fff

		p
			margin-bottom: 60px
			font-size: 20px
			line-height: 1.75em
			color: #f3f2f1

	.btn
		display: flex
		align-items: center
		justify-content: center
		margin-top: 30px
		color: #36ceb0
		background: #fff

		> span
			padding-top: 0

.work
	position: relative
	height: 380px
	width: 100%
	margin-bottom: 50px
	overflow: hidden

	> div
		height: 100%
		width: 100%

	img
		display: block
		position: relative
		height: 100%
		width: 100%
		transition: transform 0.4s ease-out

	figcaption
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 50%
		padding: 20px
		background: #36d2b4
		color: #f3f2f1
		opacity: 0
		backface-visibility: hidden
		transform-origin: 0 0
		transform: rotateY(-90deg)
		transition: transform 0.4s ease-out, opacity 0.1s 0.3s ease-out

	a
		text-align: center
		padding: 5px 10px
		border-radius: 2px
		background: #fff
		color: #36ceb0

	span
		font-size: 19px
		line-height: 28px

	&:hover
		img
			transform: translateX(25%)

		figcaption
			opacity: 1
			transform: rotateY(0deg)
			transition: transform 0.4s ease-out, opacity 0.1s ease-out

.work-links
	position: absolute
	left: 10px
	bottom: 50px

@media screen and (min-width: 600px)
	.works-header
		.content
			display: flex
			flex-direction: column
			align-items: center
			text-align: center

	.work-links
		display: flex
		align-items: center
		justify-content: center
		left: 0
		width: calc(100% - 10px)

		a
			display: flex
			align-items: center
			justify-content: center
			height: 35px
			margin: 0 3%


@media screen and (min-width: 800px)
	.works-container
		width: 70%

@media screen and (min-width: 1000px)
	.works-header
		.content
			h1
				font-size: 54px

			p
				width: 70%
				margin: 0 auto 50px
				font-size: 21px

	.works-container
		flex-direction: row
		flex-wrap: wrap

	.work
		width: 46%
		margin: 0 2% 50px

		figcaption
			width: 70%

@media screen and (min-width: 1200px)
	.works-header
		.bg
			img
				width: 100%

@media screen and (min-width: 1600px)
	.works-header
		.content
			h1
				font-size: 65px

			p
				font-size: 22px

			.btn
				height: 50px
				font-size: 20px

	.work
		height: 300px
		width: 28.333%

	.work-links.boiler-links
		bottom: 15px
