.works-page-container
	padding: 75px 0

	header
		padding: 30px 0
		text-align: center

		h1
			@include muli()
			font-weight: 300
			font-size: 46px
			letter-spacing: 4px
			color: rgba(56, 73, 90, 0.7)

.works-container
	display: flex
	flex-direction: column
	align-items: center
	padding-top: 60px

.work
	position: relative
	height: 250px
	width: 90%
	margin: 0 auto 55px auto
	overflow: hidden
	cursor: pointer
	background: #2a6d62

	img
		position: relative
		height: 100%
		width: 100%
		opacity: 0.95
		transition: opacity 0.45s, transform 0.45s
		transform: scale3d(1.05, 1.05, 1)

	figcaption
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		backface-visibility: hidden

		&:before
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			content: ''
			background: rgba(255, 255, 255, 0.7)
			transition: transform 0.6s
			transform: scale3d(1.9, 1.4, 1) rotate3d(0,0,1,45deg) translate3d(0, -100%, 0)

	.figure-info
		display: flex
		align-items: center
		justify-content: flex-end
		position: absolute
		bottom: 35px
		width: 100%
		height: 100px


	h3
		text-align: left
		@include sin()
		font-weight: 300
		text-transform: uppercase
		letter-spacing: 2px
		line-height: 30px
		font-size: 20px
		margin-top: 30px
		margin-left: 34px
		opacity: 0
		transition: opacity 0.35s
		color: #fff

	p
		@include muli()
		font-weight: 300
		letter-spacing: 1px
		font-size: 16px
		line-height: 24px
		padding: 0 10px
		border-right: 4px solid #fff
		text-align: right
		opacity: 0
		color: #fff
		transition: opacity 0.35s

	a
		@include muli()
		font-weight: 300
		letter-spacing: 2px
		font-size: 16px
		padding-left: 15px
		padding-right: 35px
		line-height: 24px
		opacity: 0
		color: #fff
		transition: opacity 0.35s

	&:hover
		img
			opacity: 0.35
			transform: scale3d(0.9, 0.9, 1)

		figcaption
			&:before
				transform: scale3d(1.9, 1.4, 1) rotate3d(0,0,1,45deg) translate3d(0, 100%, 0)

		h3
			opacity: 1
			transition-delay: 0.1s

		p
			opacity: 1
			transition-delay: 0.1s

		a
			opacity: 1
			transition-delay: 0.1s


.github-button
	display: flex
	flex-direction: column
	align-items: center
	padding: 20px 0

	p
		@include muli()
		font-weight: 300
		font-size: 16px
		letter-spacing: 2px
		margin-bottom: 35px
		color: rgba(56, 73, 90, 0.7)

	button
		height: 40px
		width: 40px
		border-radius: 50%
		border: 1px solid rgb(56, 73, 90)
		transition: all .4s ease

		span
			font-size: 25px
			color: rgb(56, 73, 90)
			transition: all .4s ease

		&:hover
			border-color: #8cd1c4

			span
				color: #8cd1c4

@media screen and (min-width: 640px)
	.work
		width: 75%

@media screen and (min-width: 900px)
	.work
		height: 320px
		width: 65%

		figcaption
			p
				font-size: 19px
				line-height: 25px

@media screen and (min-width: 1080px)
	.works-container
		flex-direction: row
		flex-wrap: wrap
		width: 95%
		margin: 0 auto

	.work
		width: 45%

		figcaption
			p
				padding: 0 20px

	.github-button
		padding: 45px 0

		p
			font-size: 18px

@media screen and (min-width: 1400px)
	.works-container
		width: 85%

@media screen and (min-width: 1600px)
	.work
		width: 30%