<nav class='nav' id='nav'>
	<div class='nav-left'>
		<div class='nav-item'>
			<button>
				<span>Forest Collins</span>
			</button>
		</div>
	</div>

	<div class='nav-right'>
		<div class='nav-item'>
			<button id='offside-toggle'>
				<span>Menu</span>
			</button>
		</div>
	</div>
</nav>

