<div id='main-footer'>
	<div>
		<div class='footer-icon'>
			<div>
				<div>
					<span>FC</span>
				</div>
			</div>
		</div>
		<p>Feel free to follow me on social media!</p>
		<div class='footer-social-icons'>
			<div>
				<div>
					<button>
						<i class='mdi mdi-twitter'></i>
					</button>
				</div>

				<div>
					<button>
						<i class='mdi mdi-github-box'></i>
					</button>
				</div>
			</div>
		</div>
		<p>Designed and Developed by Forrest Collins &copy; 2016</p>
	</div>
</div>