<div id='main-footer'>
	<div>
		<div class='footer-icon'></div>
		<p>Feel free to follow me on social media!</p>
		<p>Designed and Developed by Forrest Collins &copy; 2016</p>

		<div class='footer-social-icons'></div>
	</div>
</div>