<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content="width=device-width, initial-scale=1">
		<meta name='description' content="Forret's story of how he came to teach himself programming from Physics">
		<meta name='keywords' content='Programming Autodidact Forrest Collins Developer Programmer Learn-Programming'>

		<title>Forrdev -- About Forrest</title>


		<link rel='preload' href='./styles/main.min.css' as="style" onload="this.rel='stylesheet'">

		<noscript>
			<link rel='stylesheet' href='./styles/main.min.css'>
		</noscript>

		<style>
			body .main-container {
				opacity: 0;
				transition: all .4s ease-out;
			}

			body.loaded .main-container {
				opacity: 1;
			}
		</style>
	</head>

	<body>
		<% include ../shared/preloader %>

		<main class='about-page-container main-container'>
			<% include ../shared/nav %>
			<% include ../shared/mobile-menu %>
			<header>
				<h1>About Me</h1>
			</header>

			<section class='about-content'>
				<ul>
					<li>
						<div class='timeline-marker'>
							<p>1993</p>
						</div>

						<div class='timeline-widget'>
							<p>I was born in small town Muskogee, Oklahoma on October 24, 1993. I was raised in a fairly secluded area without many neighbors, so as a child I spent much of my time outside and reading. It forced me to be observant and take in my surroundings. I become more interested in nature and that is what would lead me to science</p>
						</div>
					</li>

					<li>
						<div class='timeline-marker'>
							<p>2011</p>
						</div>

						<div class='timeline-widget'>
							<p>I became interested in the extreme facets of nature, tornados, volcanos, earthquakes and the like. I was going through school and learning more about the chemistry and physics behind these events and it was there, in my junior year of high school that I decided I wanted to become a physicist</p>
						</div>
					</li>

					<li>
						<div class='timeline-marker'>
							<p>2015</p>
						</div>

						<div class='timeline-widget'>
							<p>I was off to college. I was young and eager, my head filled with visions of what it would be like. I spent two years at the University of Oklahoma studying physics and getting to be a part of and even guide a research team to making discoveries. It was here that I learned my love of programming, even if I didn't realize it at the time.</p>
						</div>
					</li>

					<li>
						<div class='timeline-marker'>
							<p>2015</p>
						</div>

						<div class='timeline-widget'>
							<p>I would be programming in ForTran and C++. If you have ever programmed in ForTran you will understand why I didn't realize my love. THe more I worked at it the more I discovered that it wasn't so much math, science, or programming that really made me driven -- it was solving problems. That is when I really knew I was in love with programming.</p>
						</div>
					</li>

					<li>
						<div class='timeline-marker'>
							<p>2017</p>
						</div>

						<div class='timeline-widget'>
							<p>I would soon leave the university due to a myriad of issues, but my love of science and programming would stick with me. I had just turned 22 years old and I was unsure of what was going to happen, but I knew what I wanted to do. I picked up books and read and read and read, studying and learning everythign that I could about programming and web development, client and server side. I found clients, I contracted work, and this is where we are today. I have around 2 years of experience working with multiple different technologies and in multiple different environments. I am just as passionate about learning and solving problems as I was then, in a way I would venture to say more so now. I'm now seeking a career in web-development and inovative web technologies</p>
						</div>
					</li>
			</section>
		</main>

		<% include ../shared/footer %>

		<script src='./scripts/main.build.min.js'></script>
	</body>
</html>