<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content="width=device-width, initial-scale=1">

		<title>Portfolio -- Works of Forrest Collins</title>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Raleway:400,600" rel="stylesheet">
		<link rel='stylesheet' href='./static/fonts/style.css'>
		<link rel='stylesheet' href='./styles/main.min.css'>
	</head>

	<body>
		<% include ../shared/nav %>

		<div class='about-page-container'>
			<header>
				<h1>About Forrest</h1>
			</header>

			<div class='about-page-images'>
				<div class='about-image'>
					<div></div>
				</div>

				<div class='about-image above-tablet'>
					<div></div>
				</div>

				<div class='about-image desktop'>
					<div></div>
				</div>
			</div>

			<section class='about-content'>
				<div>
					<p>I was born in a small town in Oklahoma on October 24, 1993. From a very early age it was apprent to everyone around me that I would go on to do something involving science. I spend almost all of my time tinkering with things -- constructing radios, trying to build electrical circuits, and reading countless books om subjects that interested me</p>
				</div>

				<div>
					<p>For a lot of my life I was torn between two passions: science and music. I was always an avid musician, spending countless hours on the piano, in band, and recording with local bands. When I graduated high school I was sure of what I wanted to do. I was going to go on to become a Physicist</p>
				</div>

				<div>
					<p>I enrolled at the University of Oklahoma as a triple-major in Physics, Mathematics, and Chemistry. My physics major exposed me to the world of programming for the first time. I was involved in a research program that required me to use my knowledge of Linear Algebra and Group Theory in tandem with my newly acquired programming skils. I would use C++ and ForTran in an attempt to computationally solve and graph poly-atomic molecular collisions</p>
				</div>

				<div>
					<p>Being forced to leave college early due to family issues, I wasn't sure where I would go next. I decided to take my programming skills and make a career out of them. I took a nose-first dive into the world of web-development. I was never sure whether the Front-end or the Back-end interested me more. Learning javascript was exciting, but Java was so similar to the C++ I had learned previously. Because of my inability to decide I ended up becoming familiar with both. I would say that I am more proficient at Javascript now, which is why most of my full-stack projects are done in Node, but other backend languages do not frighten me or deter me.</p>
				</div>


				<div>
					<p>Now here I am today, almost a year later. After learning I created a few projects and have decided on web-development as a career. It is something that I am incredibly passionate about and am always striving to learn more about. I am currently looking for free-lance work, contract work, or a more permenant position at a company. While my focus is on being hired as a front-end developer, I do not shy away from the idea of being a full-stack developer or a front-end developer who also occasionally works on the back-end or acts as the bridge between the two sections</p>
				</div>
			</section>
		</div>

		<% include ../shared/footer %>
	</body>
</html>