<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content="width=device-width, initial-scale=1">

		<title>Portfolio -- Blog of Forrest Collins</title>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Raleway:400,600" rel="stylesheet">
		<link rel='stylesheet' href='./static/fonts/style.css'>
		<link rel='stylesheet' href='./styles/main.min.css'>
	</head>

	<body>
		<% include ../shared/nav %>
		<% include ../shared/mobile-menu %>

		<div class='blog-page-container'>
			<header>
				<h1>This page is currently under construction</h1>
			</header>
			<div>
				<p>Please check back soon and I will have my first article!</p>
			</div>
		</div>

		<% include ../shared/footer %>

		<script type='text/javascript'>
			let animation;

			init();

			function init() {
				let canvas = document.querySelector('.preloader-canvas');
				let t = 0;
				let w = canvas.width = window.innerWidth;
				let h = canvas.height = window.innerHeight;

				let context = canvas.getContext('2d');
				context.globalCompositeOperate = 'lighter';

				animate();

				function animate() {
					context.clearRect(0, 0, w, h);

					t += 1;

					for (let i = 0; i < 5000; i++) {
						let f = 0.05 + ((Math.sin(t * 0.00002) / Math.PI) * 0.2);
						let r = (Math.min(w, h)) * (Math.cos((t + i) * f) / Math.PI * 1.5);

						let x = 0.5 + (Math.sin(i) * r + (canvas.width / 2)) | 0;
						let y = 0.5 + (Math.cos(i) * r + (canvas.height / 2)) | 0;

						context.fillStyle = 'rgba(0, 255, 255, 0.5)';
						context.fillRect(x, y, 1.5, 1.5);
					}

					animation = setTimeout(animate, 16);

				}

				function handleDoc() {
					setTimeout(finishLoad, 1500);
				}

				function finishLoad() {
					let canvas = document.querySelector('.preloader-canvas');

					document.body.classList.add('loaded');
					canvas.parentElement.classList.add('finished');
					canvas.parentElement.removeChild(canvas);
					clearTimeout(animation);

					document.removeEventListener('DOMContentLoaded', handleDoc);
				}

				document.addEventListener('DOMContentLoaded', handleDoc);
			}
		</script>

		<script src='./scripts/other.build.min.js'></script>
	</body>
</html>