<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content="width=device-width, initial-scale=1">
        <meta name='description' content="These are the works of Fullstack developer Forrest Collins">
        <meta name='keywords' content='Developer Programmer Mongo Node Angular React Javascript Web-Developer Application ES6'>

        <title>Forrdev -- Forrest's Projects</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
        <link href="./works.css" rel="stylesheet">

    </head>

    <body>
        <nav class='nav' id='nav'>
            <div class='nav-left'>
                <div class='nav-item'>
                    <a href='/'>
                        <button>
                        </button>
                    </a>
                </div>
            </div>

            <div class='nav-right'>
                <button class="nav-menu nav-trigger" type="button">
                    <span class="menu-box">
                        <span class="menu-inner"></span>
                    </span>
                </button>

                <div class='nav-item desktop'>
                    <a href='/' class='desktop-link'>
                        <button>
                            <span>Home</span>
                        </button>
                    </a>
                </div>


                <div class='nav-item desktop'>
                    <a href='/works' class='desktop-link'>
                        <button>
                            <span>Works</span>
                        </button>
                    </a>
                </div>

                <div class='nav-item desktop'>
                    <a href='/about' class='nav-link'>
                        <button>
                            <span>About</span>
                        </button>
                    </a>
                </div>

                <div class="nav-item desktop">
                    <a href='/process' class='desktop-link'>
                        <button><span>Process</span></button>
                    </a>
                </div>

                <div class='nav-item desktop'>
                    <a href='/blog' class="desktop-link">
                        <button>
                            <span>Blog</span>
                        </button>
                    </a>
                </div>
            </div>
        </nav>

        <section class='mobile-menu-container' id='mobile-menu-container'>
            <div class='mobile-menu' id='mobile-menu'>
                <ul class='mobile-menu-list'>
                    <li><a href='/' class='mobile-link'>Home</a></li>
                    <li><a href='/about' class='mobile-link'>About</a></li>
                    <li><a href='/works' class='mobile-link'>Works</a></li>
                    <li><a href='/process' class='mobile-link'>Process</a></li>
                    <li><a href='/blog' class='mobile-link'>Blog</a></li>
                    <li><a href="https://www.github.com/Bashkir15" target="_blank" rel="noopener noreferrer">Github</a></li>

                </ul>
            </div>
        </section>


        <main class="works-page-container main-container">
            <header class="works-header">
                <div class="wrapper standard">
                    <div class="content">
                        <h1>My Projects</h1>
                        <p>Below is a display of most of the public projects I have worked on along with some case studies. You can check those out, see the site, or view them on my github</p>
                        <a class="btn">
                            <span>See My Github</span>
                        </a>
                    </div>
               </div>
               <!-- wrapper -->
               <div class="bg">
                   <img src="https://d2rf2imq3sfix6.cloudfront.net/work-background.jpg" alt="My Works">
                   <span class="band over bottom left rotate_cc origin_tl"></span>
                   <span class="band under bottom left rotate_cc origin_tl offset">
                </span>
            </header>

            <section class="works-container">
                <figure class="work" data-entrance="fade">
                    <a href="https://github.com/Bashkir15/Driver">
                        <img src="https://d2rf2imq3sfix6.cloudfront.net/driver.png" alt="Driver">
                    </a>
                    <h4>Driver</h4>
                </figure>

                <figure class="work" data-entrance="fade">
                    <a href='https://github.com/Bashkir15/Wheelhouse'>
                        <img src="https://d2rf2imq3sfix6.cloudfront.net/wheelhouse.png" alt="Wheelhouse">
                    </a>
                    <h4>Wheelhouse</h4>
                </figure>

                <figure class="work" data-entrance="fade">
                    <a href='https://github.com/Bashkir15/Softserve'>
                        <img src="https://d2rf2imq3sfix6.cloudfront.net/softserve.jpg" alt="Softserve">
                    </a>
                    <h4>Softserve</h4>
                </figure>

                <figure class="work" data-entrace="fade">
                    <a href="https://github.com/Bashkir15/Golondrina">
                        <img src="https://d2rf2imq3sfix6.cloudfront.net/golondrina.png" alt="Golondrina">
                    </a>
                    <h4>Golondrina</h4>
                </figure>

                <figure class="work" data-entrace="fade">
                    <a href="https://github.com/Bashkir15/Math">
                        <img src="https://d2rf2imq3sfix6.cloudfront.net/math.jpg">
                    </a>
                    <h4>Math</h4>
                </figure>

                <figure class="work" data-entrace="fade">
                    <a href="https://d2rf2imq3sfix6.cloudfront.net/opinionable.pnh">
                        <img src="https://d2rf2imq3sfix6.cloudfront.net/opinionable.png" alt="Opinonable">
                    </a>
                    <h4>Opinionable</h4>
                </figure>


            </section>
            <footer class='footer'>
                <div class="footer-top">
                    <div>
                        <div class="footer-columns">
                            <div class="footer-col-1">
                                <h6>Useful Links</h6>
                                <ul class="footer-links">
                                    <li>
                                        <a href='/'>Home</a>
                                    </li>

                                    <li>
                                        <a href='/about'>About</a>
                                    </li>

                                    <li>
                                        <a href='/works'>Works</a>
                                    </li>

                                    <li>
                                        <a href='/process'>Process</a>
                                    </li>

                                    <li>
                                        <a href='/blog'>
                                            Blog
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="footer-col-2">
                                <h6>Social</h6>
                                <ul class="footer-links">
                                    <li>
                                        <a href='https://www.facebook.com/forest.collins.7' target="_blank" rel="noopener noreferrer">Facebook</a>
                                    </li>

                                    <li>
                                        <a href='https://www.twitter.com/fordocol' target="_blank" rel="noopener noreferrer">Twitter</a>
                                    </li>

                                    <li>
                                        <a href='https://www.github.com/Bashkir15' target="_blank" rel="noopener noreferrer">Github</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-col-3"></div>
                            <div class="footer-col-4">
                                <h6>Newsletter</h6>
                                <p>The latest news, advice and blog posts straight to your inbox</p>
                                <form name="newsletter-form">
                                    <div>
                                        <input type="email" name="newsletter-email" id="newsletter-email" class="newsletter-input">
                                        <label for="newsletter-email">Email</label>
                                    </div>
                                    <button type="button" class="newsletter-submit">Sign Up</button>
                                </form>

                                <h6>Consultation and Support</h6>
                                <p>
                                    Call: 1-918-351-8097
                                    <br>
                                    Email: <a href="mailto:Forest.collins.portfolio@gmail.com"></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-bottom">
                    <div>
                        <p>Copyright &copy; 2015-2017 Forrest Collins&trade; Ltd.
                            <span class="space">&#9679;</span>
                            Texas: <span class="highlight">2002 Longmeadow Ct.</span>
                        </p>
                    </div>
                </div>
            </footer>
        </main>
        <script src="./works.js"></script>
    </body>
</html>
