<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content="width=device-width, initial-scale=1">
        <meta name='description' content="These are the works of Fullstack developer Forrest Collins">
        <meta name='keywords' content='Developer Programmer Mongo Node Angular React Javascript Web-Developer Application ES6'>

        <title>Forrdev -- Forrest's Projects</title>
        
        <link rel='preload' href='./styles/main.min.css' as="style" onload="this.rel='stylesheet'">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">

        <noscript>
            <link rel='stylesheet' href='./styles/main.min.css'>
        </noscript>
    </head>

    <body>
        <% include ../shared/nav %>
        <% include ../shared/mobile-menu %>

        <main class="works-page-container main-container">
            <header class="works-header">
                <div class="wrapper standard">
                    <div class="content">
                        <h1>My Projects</h1>
                        <p>Below is a display of most of the public projects I have worked on along with some case studies. You can check those out, see the site, or view them on my github</p>
                        <a class="btn">
                            <span>See My Github</span>
                        </a>
                    </div>
               </div>
               <!-- wrapper -->
               <div class="bg">
                   <img src="./static/images/work-background.jpg" alt="My Works">
                   <span class="band over bottom left rotate_cc origin_tl"></span>
                   <span class="band under bottom left rotate_cc origin_tl offset">
                </span>
            </header>

            <section class="works-container">
                    <figure class="work" data-entrance="fade">
                        <div>
                            <img src="./images/opinion-res.png" alt="Opinionable Project">
                        </div>
                        <figcaption>
                            <h3>Opinionable</h3>
                            <span>Opinionable is a news aggregate and social sharing application</span>
                            <div class="work-links">
                                <a href="/work/opinion">See More</a>
                                <a href="/">See Site</a>
                            </div>
                        </figcaption>
                    </figure>

                <figure class="work" data-entrance="fade">
                    <div><img src="./images/blog-res.png" alt="Blog Project"></div>
                    <figcaption>
                        <h3>Blog</h3>
                        <span>This is my personal blog devoted to development</span>
                        <div class="work-links">
                        <a href="/work/blog">See More</a>
                        <a href="/">See Site</a>
                        </div>
                    </figcaption>
                </figure>

                <figure class="work" data-entrance="fade">
                    <div><img src="./images/boilerplate.png" alt="Application Boilerplate Project"></div>
                    <figcaption>
                        <h3>Application Boilerplate</h3>
                        <span>A Node Boilerplate containing the most essential functionalities for creating a multitude of Applications</span>
                        <div class="work-links boiler-links">
                        <a href="/work/application-boilerplate">See More</a>
                        <a href="">See Project</a>
                        </div>
                    </figcaption>
                </figure>

                <figure class="work" data-entrance="fade">
                    <div><img src="./images/soft-res.png" alt="Softserve Project"></div>
                    <figcaption>
                        <h3>Softserve</h3>
                        <span>Softserve is an in-progress Javascript UI Library built with modularity in mind</span>
                        <div class="work-links">
                        <a href="/work/softserve">See More</a>
                        <a href="/">See Project</a>
                        </div>
                    </figcaption>
                </figure>

                <figure class="work" data-entrance="fade">
                    <div><img src="./images/die-top.png" alt="I will Die Project"></div>
                    <figcaption>
                        <h3>I Will Die</h3>
                        <span>A collaborative project started on Reddied to fight against the repeal of the ACA</span>
                        <div class="work-links">
                        <a href="/work/i-will-die">See More</a>
                        <a href="">See Project</a>
                        </div>
                    </figcaption>
                </figure>

                <figure class="work" data-entrance="fade">
                    <div><img src="./images/math.jpg" alt="Math Project"></div>
                    <figcaption>
                        <h3>Math</h3>
                        <span>A very small in-progress math utility library for Javascript</span>
                        <div class="work-links">
                        <a href="/work/math">See More</a>
                        <a href="">See Project</a>
                        </div>
                    </figcaption>
                </figure>
            </section>
        </main>
        <script src=".main.build.js"></script>
    </body>
</html>
