<div class='about-section-container row'>
	<div class='about-section-left'>
		<h3>College:</h3>
	</div>

	<div class='about-section-right'>
		<p>At the bright age of 18 I was off and on my way to college. I had enrolled at the University of Oklahoma as a double major in Physics and Mathematics. It was not long at all before my feet were firmly planted and I was ready to start my long sprint to my Bachelors and eventual PhD</p>

		<p>During my second semester of college I started working as a research assistant in the universitie's Physics Department. My Job was small at first, simply leaning the ForTran programming language, but it soon grew into me needing a good understanding of mathematics I had not had yet such as Group Theory and Partial Differential Equations</p>

		<p>I continued my research position until half way through my second year at the university. I had gained a large ammount of knowledge in that short time and was ready to move onto something else. I branched off and joined the American Society of Physics Students and started a small tutoring business on the side</p>

		<p>By the end of my second year I was unfortunately no longer able to continue my stay at the University. Personal and family issues forced my resignation. At first this came as a devistating blow to me, but then I found inspiration. I was going to use my programming knowledge to create a website for students struggling with college level physics and mathematics, and a resource for all of the armchair physicists out there</p>
	</div>
</div>
<div class='about-decorator'></div>