<div class='about-section-container row'>
	<div class='about-section-left'>
		<h3>Early Life:</h3>
	</div>

	<div class='about-section-right'>
		<p>I was brought into this world on October 24, 1993 in the small town of Muskogee, Oklahoma. From a young age I already knew I wanted to pursue a career of the scientific nature. I would spend hours watching videos on electricity and volcanos, devoting much of my time to building models and constructing small circuits for radios</p>

		<p>By the time I was a little older, the world had blossomed into a magical and creative place. I joined band when I was in 6th grade and fell in love with music. Using my newly aquired ability to read music, I set out to learn more. I quickly picked up the piano, guitar, and saxophone in addition to the trumpet I started in band</p>

		<p>At the age of 14 I was preparing to go into high school, but had changed my plans a little bit. While I still loved science and everything to do with it, I had decided I was going to become a music composition major to create dramatic scores for film and media. I joined the marching band and the jazz band for Muskogee High School</p>

		<p>I continued with my plan to go to college for music all the way until my senior year of high school. I had been rather successful in my music endeavours, making regional and all-state bands when I would audition and even achieved a spot in the all-state choir on a whim, but none of that could keep me from me rediscovered passion. The first semester of my senior year I took an Advanced Placement Physics course and I never looked back</p>
	</div>
</div>