<div class='about-section-container row'>
	<div class='about-section-left'>
		<h3>Future:</h3>
	</div>

	<div class='about-section-right'>
		<p>I have big dreams for the future. I still would like to go back to college and finish my degrees, but I will never think of them as the same again. I would like to apply what I will have learned to implementing complex programatic solutions on the web, make some contribution to the sub-fields of machine learning and quantum computing, and who knows what else!</p>
	</div>
</div>