<div class='about-section-container row'>
	<div class='about-section-left'>
		<h3>Now:</h3>
	</div>

	<div class='about-section-right'>
		<p>That was almost a year ago, and now I am hooked on web development. My Physics site has not come to fruition yet because the more I learned, the more I knew I was not ready to create it yet. I started smaller projects in the mean time, learning HTML5, CSS3, and Javascript</p>

		<p>Almost a year later here I am. Relying on my previous programming skills I have learned the in-and-outs of Javascript, am currently using ES6 and some predicted ES7 features, and have gained utility of several Javascript frameworks both client and server-side</p>

		<p>It is now my hope and goal that I can become an employed developer doing what I love. I love all things programming, and would even be excited to work in an environment with technologies that I am not aware of / comfortable with. Realization of my lack of knowledge always inspires me to learn more</p>
	</div>
</div>
<div class='about-decorator'></div>