<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Forrest - Home</title>
		<link href='https://fonts.googleapis.com/css?family=Sanchez:400,400italic|Pacifico|Lato:300,100' rel='stylesheet' type='text/css'>
		<link href='/vendor/mdi/css/materialdesignicons.css' rel='stylesheet'>
		<link rel='stylesheet' href='/static/stylesheets/css/main.css'>
	</head>

	<body>
		<div id='backdrop'></div>
		<div id='sidenav'>
			<ul>
				<li>Test</li>
				<li>Other test</li>
				<li id='close-sidenav'>Close</li>
			</ul>
		</div>
		<div id='content'>
			<% include ./templates/main-header %>

			<section class='home-header'>
				<% include ./templates/home/home-header %>
			</section>

			<section class='home-skills'>
				<% include ./templates/home/home-skills %>
			</section>

			<section class='home-about'>
				<% include ./templates/home/home-about %>
			</section>

			<section class='home-projects'>
				<% include ./templates/home/home-projects %>
			</section>

			<footer class='footer'>
				<% include ./templates/main-footer %>
			</footer>
		</div>

		<script src='/static/scripts/home/home.js'></script>
		<script src='/static/scripts/components/sidenav.js'></script>
		<script>
			var sidenav = new Sidenav({
				content: document.getElementById("content"),
				sidenav: document.getElementById("sidenav"),
				backdrop: document.getElementById("backdrop")
			});

			document.getElementById("sidenav-button").addEventListener('click', function() {
				sidenav.open();
			});
		</script>
	</body>
</html>