<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content="width=device-width, initial-scale=1">
        <meta name='description' content="The Portfolio of Full-Stack Application Developer Forrest Collins">
        <meta name='keywords' content="Developer Javascript Portfolio Frontend Backend Fullstack Node Web-Developer Application Programmer">

        <title>Forrest Collins, Full-Stack Developer</title>

        <link rel='preload' href='./styles/main.min.css' as="style" onload="this.rel='stylesheet'">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
    </head>

    <body>
        <% include ./views/shared/nav %>
        <% include ./views/shared/mobile-menu %>
        <main class='landing-page-container page-container'>
            <header class='landing-header header'>
                <div class='wrapper standard'>
                    <div class='content'>
                        <h1>
                            <span>Hi, I'm Forrest Collins</span>
                            <span>I'm a Fullstack Engineer</span>
                        </h1>

                        <p>I design custom and innovative solutions for the modern web that are engineered to give the best user experience possible. At heart I'm just a big nerd who loves coffee, cats, and distributed systems. That's cool, right? <small>right..?</small></p>
                    </div>
                    <!-- content -->
                    <% include ./views/pages/figures/header-phone %>
                </div>
                <!-- wrapper -->
                <div class='bg'>
                    <span class='band over bottom left rotate_cc origin_tl'></span>
                    <span class='band under bottom right rotate_c origin_tr'></span>
                </div>
                <!-- bg -->
            </header>

            <section class='landing-bubbles'>
                <div class='wrapper standard'>
                    <div class='content'>
                        <figure class='bubble-feature design'>
                            <img class='icon design' src='./static/images/design.png' alt="Forrest's Design Principles">
                            <h2>UI/UX Design</h2>
                            <p>Great design starts with putting people first. Work with and you'll benefit from a collaborative user experience design approach that promises improved usability, accessibility, and effici600ency</p>
                            <a href='/design'>Read More</a>
                        </figure>

                        <figure class='bubble-feature development'>
                            <img class='icon development' src='./static/images/development.png' alt="Forrest's Development Principles">
                            <h2>In-depth Development</h2>
                            <p>I try to consider every detail, right down to each individual pixel. When we decide on a design, this is exactly how the finished product with look, complete with stunning animation and effects, and built with the latest technologies</p>
                            <a href='/development'>Read More</a>
                        </figure>

                        <figure class='bubble-feature devops'>
                            <img class='icon devops' src='./static/images/devops.png'>
                            <h2>Devops</h2>
                            <p>I use tools like AWS and NGINX to ensure that your product is optimized, distributed, and will perform to the best of its abilities regardless of the user's location or connection. All products are built with growth and scalability in mind</p>
                            <a href='/devops'>Read More</a>
                        </figure>
                    </div>
                    <!-- content -->
                </div>
                <!-- wrapper -->
            </section>

            <section class='landing-projects'>
                <div class='wrapper standard'>
                    <header>
                        <h2>Here are some of my works</h2>
                    </header>

                    <div class='landing-projects-container'>
                        <div>
                            <figure class='single-project'>
                                <img src='./images/opinion-res.png' alt="My project Opinionable">
                                <figcaption>
                                    <h3>Opinionable</h3>
                                    <p>This project was one of my first real applications. Opinionable is a news aggregate and social-sharing application built with the MEAN stack</p>
                                    <a href='/work/opinion'>
                                        See More
                                    </a>
                                </figcaption>
                            </figure>

                            <figure class='single-project'>
                                <img src='./images/boilerplate.png' alt='My Application Boilerplate'>
                                <figcaption>
                                    <h3>Application Boilerplate</h3>
                                    <p>This started as a personal boilerplate to keep me from rewriting code when I started new application. It features almost everything you would need to get up and running with an application</p>
                                    <a href='/work/application-boilerplate'>
                                        See More
                                    </a>
                                </figcaption>
                            </figure>
                        </div>

                        <a class='btn btn-link' href='/works'>
                            <span>See More Works</span>
                        </a>
                    </div> 

                    <!-- landing-projects -->

                    <figure class='landing-phone'>
                        <span class='phone-camera'></span>
                        <span class='phone-speaker'></span>
                        <div class='phone-shadow'></div>
                        <div class='phone-screen'>
                            <div class='phone-screen-inner'>
                                <a class="slide slide_1" id="phone_slide_1" href="work/application-boilerplate">
                                    <img src='../images/boilerplate.png' alt="Boilerplate">
                                </a>

                                <a class="slide slide_2" id="phone_slide_2" href="work/blog">
                                    <img src='../images/blog-res.png'>
                                </a>

                                <a class="slide slide_3" id="phone_slide_3" href="work/opinion">
                                    <img src='../images/opinion-thread.png'>
                                </a>
                            </div>
                        </div>

                        <span class='phone-button'></span>
                    </figure>
                    <!-- Phone -->
                </div>
                <!-- wrapper -->
            </section>

            <section class='landing-about'>
                <div class='wrapper standard'>
                    <!-- <header>
                        <h2>A small bit about me</h2>
                    </header> -->

                    <p>I started programming in college as part of my Physics and Mathematics major. I originally was working with ForTran and C++ simulating polyatomic molecular collisions.</p>

                    <p>After leaving college I decided to put my programming skills and learn web-development. I soaked up all of the information that I could. Now, after almost 5 years as a programmer I have completely fallen in love with the web</p>

                    <p>It is amazing the huge amount of progress the web has made in such a short amount of time. We now have the ability to access byte-code in Javascript, Universally rendered applications, Service-Workers and so much more. It is a great time to be a developer</p>

                    <a class='btn btn-link' href='/about'>
                        <span>Get to know me</span>
                    </a>
                </div>
                <!-- wrapper -->
                <div class='bg'>
                    <span class='band white bottom left rotate_cc origin_tl'></span>
                </div>
            </section>

            <section class='landing-info'>
                <div class='wrapper narrow'>
                    <div class='landing-info-content'>
                        <div class="content">    
                            <div class='intro'>
                                <h3>Get in Touch</h3>
                                <p>If you don't feel like contacting me here, you get ahold of me with any of these. Looking to contract me for work? I'd love to hear from you and start working with you to build something amazing</p>
                            </div>

                            <div class='info-links'>
                                <a href="tel:9183518097">
                                    <img src='./static/images/phone.png' alt="My phone number">
                                    <span>918-351-8097</span>
                                </a>

                                <a href=':mailto:Forest.collins.portfolio@gmail.com'>
                                    <img src='./static/images/message.png' alt='My email'>
                                    <span>Forest.collins.portfolio@gmail</span>
                                </a>

                                <a href="https://twitter.com/fordocol" target="_blank">
                                    <img src='./static/images/twitter.png' alt="My twitter">
                                    <span>https://twitter.com/fordocol</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="bands">
                        <span class='band band_1 top left rotate_cc origin_bl'></span>
                        <span class="band band_2 top left rotate_cc origin_bl"></span>
                    </div>
                </div>
                <!-- wrapper -->
                <div class='bg'>
                    <span class='band band_1 top right rotate_cc origin_tr'></span>
                    <span class='band band_2 top right rotate_cc origin_tr'></span>
                    <span class='band band_3 top right rotate_cc origin_tr'></span>
                </div>
            </section>

            <section class="landing-contact">
                <div class="wrapper standard">
                    <div class="intro">
                        <h2>Send me a message!</h2>
                        <p>You can send me a message directly below. I'd love to hear from you with anything you have to say</p>
                    </div>
                    <!-- intro -->
                </div>
                <!-- wrapper -->

                <div class="landing-contact-form">
                    <div class="wrapper standard">
                        <form name="contact-form" class="contact-form">
                            <div class="form-fields">
                                <div class="field form-wrapper">
                                    <label for="contact-name">Name</label>
                                    <input type="text" id="contact-name" class="form-input">
                                    <p class="error-message">
                                        Sorry, I need your name!
                                    </p>
                                </div>

                                <div class="field form-email form-wrapper">
                                    <label for="contact-email">Email</label>
                                    <input type="email" id="contact-email" class="form-input">
                                    <p class="error-message">
                                        Sorry, please enter a valid email!
                                    </p>
                                </div>

                                <div class="field form-phone form-wrapper">
                                    <label for="contact-phone">Phone</label>
                                    <input type="text" id="contact-phone" class="form-input">
                                    <p class="error-message">
                                        Please enter your number XXX XXX XXXX
                                    </p>
                                </div>

                                <div class="field full form-wrapper">
                                    <label for="contact-message">Message</label>
                                    <textarea id="contact-message" class="form-input"></textarea>
                                    <p class="error-message">
                                        I need to know what you want to say!
                                    </p>
                                </div>

                                <div class="field">
                                    <button class="btn form-submit" id="contact-send" type="button">
                                        <span>Send!</span>
                                    </button>
                                </div>
                            </div>
                            <!-- fields -->
                        </form>
                    </div>

                <!-- wrapper -->
                    <div class="bg">
                        <span class="band band_1 top right rotate_cc origin_br"></span>
                        <span class="band band_2 bottom left rotate_cc origin_tl"></span>
                    </div>
                </div>
            </section>

            <% include ./views/shared/footer %> 
        </main>

        <script>
            const wireframe = document.querySelector('.wireframe');
            const phoneHeader = document.querySelector('.w_header.w_animate');
            const phoneFeature = document.querySelector('.w_feature.w_animate');
            const phonePortals = document.querySelector('.w_portals');
            const phoneSplit = document.querySelector('.w_split');
            const phoneServices = document.querySelector('.w_services');
            const phoneForm = document.querySelector('.w_form');
            const phoneNews = document.querySelector('.w_news');
            const phoneFooter = document.querySelector('.w_footer');

            function animateBody() {
                document.body.classList.add('load-complete');
                window.setTimeout(() => {
                    phoneHeader.classList.add('show');
                    window.setTimeout(() => {
                        phoneFeature.classList.add('show');
                        window.setTimeout(() => {
                            phonePortals.classList.add('show');
                            window.setTimeout(() => {
                                phoneSplit.classList.add('show');
                                window.setTimeout(() => {
                                    phoneForm.classList.add('show');
                                    window.setTimeout(() => {
                                        phoneNews.classList.add('show');
                                        window.setTimeout(() => {
                                            phoneFooter.classList.add('show');
                                        }, 800);
                                    }, 1000);
                                }, 3200);
                            }, 950);
                        }, 400);
                    }, 400);
                }, 600);
            } 

            function animateFrame() {
                wireframe.classList.add('step-1');
                window.setTimeout(() => {
                    phoneServices.classList.add('show');
                    window.setTimeout(() => {
                        wireframe.classList.add('step-3');
                        wireframe.classList.remove('step-1');
                        window.setTimeout(() => {
                            wireframe.classList.remove('step-3');
                        }, 2600);
                    }, 2200);
                }, 400);
            }

             window.setTimeout(() => {
                animateBody();
                window.setTimeout(() => {
                    animateFrame()
                }, 3700);
            }, 1200); 
        </script>
        <script src="./main.build.js"></script>
    </body>
</html>