<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content="width=device-width, initial-scale=1">

		<title>Portfolio -- Forrest Collins</title>

		<link href="https://fonts.googleapis.com/css?family=Muli:300,600|Sintony|Lato:300" rel="stylesheet">
		<link rel='stylesheet' href='./static/fonts/style.css'>
		<link rel='stylesheet' href='./styles/main.min.css'>
	</head>

	<body class='home-body'>
	

		<% include ./views/shared/preloader %>
		<% include ./views/shared/nav %>
		<% include ./views/shared/mobile-menu %>

		<div class='landing-page-container'>
			<section class='landing-header'>
				<canvas id='landing-header'></canvas>
				<div class='landing-header-overlay'>
					<div>
						<h1>I'm Forrest</h1>
						<p>I engineer modern applications for the web</p>

						<button type='button' id='contact-scroller' aria-label='click to scroll to contact form'>
							<span>Contact Me</span>
						</button>
					</div>					
				</div>
			</section>

			<section class='landing-skills'>
				<header class='landing-section-header'>
					<h2>Some of my Skills</h2>
				</header>

				<div class='landing-skills-body'>
					<div>
						<div class='landing-skill' data-entrance='fade'>
							<span class='icon-desktop'></span>
							<div>
								<h3>Fontend</h3>
								<p>HTML5, CSS3(Sass), Javascipt(ES6+),
								AngularJS, Vue, React, and  CSS/JS animations are just a few of my tools</p>
							</div>
						</div>

						<div class='landing-skill' data-entrance='fade'>
							<span class='icon-upload'></span>
							<div>
								<h3>Backend</h3>
								<p>NodeJs, Express, Koa, Ngnix, and Websockets come together to create modern and secure backends</p>
							</div>
						</div>

						<div class='landing-skill' data-entrance="fade">
							<span class='icon-book-open'></span>
							<div>
								<h3>Database</h3>
								<p>MongoDB, Redis, and SQL are my weapons of choice
								to ensure well-organized data-structures</p>
							</div>
						</div>

						<div class='landing-skill' data-entrance="fade">
							<span class='icon-browser'></span>
							<div>
								<h3>UI/UX</h3>
								<p>I am passionate about creating refreshing and interactive experiences that users cherish and want to come back to</p>
							</div>
						</div>

						<div class='landing-skill' data-entrance="fade">
							<span class='icon-mobile'></span>
							<div>
								<h3>Responsive Design</h3>
								<p>Applications are not one size fits all, but with different devices and progressive enhancement, we can sweep this under the rug</p>
							</div>
						</div>

						<div class='landing-skill' data-entrance='fade'>
							<span class='icon-genius'></span>
							<div>
								<h3>Efficiency</h3>
								<p>I like to waste as little time as possible, so I use tools like gulp, webpack, and rollup to the make development smoother</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class='landing-projects'>
				<header class='landing-section-header'>
					<h2>Recent Projects</h2>
				</header>

				<div class='landing-projects-body'>
					<div>
						<figure class='landing-project' data-entrance='fade'>
							<img src='./static/images/1.png'>
							<figcaption>
								<h3>Opinionable</h3>
								<p>A news aggregate and social-sharing application</p>

								<a href='/opinionable'>
									See More
								</a>
							</figcaption>
						</figure>

						<figure class='landing-project' data-entrance='fade'>
							<img src='./static/images/2.png'>
							<figcaption>
								<h3>Application Boilerplate</h3>
								<p>A boilerplate to provide essential features for many applications</p>

								<a href='/application-boilerplate'>
									See More
								</a>
							</figcaption>
						</figure>

						<figure class='landing-project' data-entrance='fade'>
							<img src='./static/images/3.png'>
							<figcaption>
								<h3>Blog</h3>
								<p>My personal Blog devote to code and science</p>

								<a href='/blog'>
									See More
								</a>
							</figcaption>
						</figure>

						<figure class='landing-project' data-entrance='fade'>
							<img src='./static/images/4.png'>
							<figcaption>
								<h3>Evoltuion</h3>
								<p>A demo project for a local smoke shop. Currently a WIP</p>

								<a href='/evolution'>
									See More
								</a>
							</figcaption>
						</figure>
					</div>

					<div class='landing-projects-more'>
						<a href='/works' aria-label="See the rest of my projects">
							<button type='button'>
								<span>See the rest</span>
							</button>
						</a>
					</div>
				</div>
			</section>

			<section class='landing-about'>
				<div class='landing-about-overlay'></div>
				<header class='landing-section-header'>
					<h2>About Me</h2>
				</header>

				<div class='landing-about-body'>
					<img class='landing-about-mobile-image' src='./images/me.jpg'>

					<div class='landing-about-text'>
						<blockquote>
							The transitions from quatum simulations in ForTran to delegating events in Javascript has been a fascinating one. I
							have become obsessed with the fast-paced culture that surrounds web technologies and development. The race to aquire knowledge and to push the boundaries of what we thought we could do inspires me to learn and absorb as much I can
						</blockquote>
					</div>

					<div class='landing-about-more'>
						<a href='/about'>
							<button type='button' aria-label='learn more about me'>
								<span>Learn more</span>
							</button>
						</a>
					</div>
				</div>
			</section>

			<section class='landing-contact' id='contact-container'>
				<header class='landing-section-header'>
					<h2>Contact Me</h2>
				</header>

				<div class='landing-contact-body'>
					<div class='contact-form'>
						<form name='contact'>
							<div class='form-wrapper'>
								<label for='contact-name'>Name</label>
								<span class='icon-person_outline'></span>
								<input type='text' id='contact-name' class='contact-input'>
							</div>

							<div class='form-wrapper contact-email'>
								<label for='contact-email'>Email</label>
								<span class='icon-mail_outline'></span>
								<input type='email' id='contact-email' class='contact-input'>
							</div>

							<div class='form-wrapper'>
								<label for='contact-subject'>Subject</label>
								<span class='icon-mode_edit'></span>
								<input type='text' id='contact-subject' class='contact-input'>
							</div>

							<div class='form-wrapper'>
								<label for='contact-message'>Message</label>
								<textarea id='contact-message' cols='40' rows='7' class='contact-input'></textarea>
							</div>

							<div class='contact-submit'>
								<button id='contact-send' type='button'>
									<span>Message Me</span>
									<div class='icon-loader'></div>
								</button>
							</div>
						</form>
					</div>

					<div class='contact-details'>
						<h3>Details</h3>
						<p>If you don't want to send me a message, feel free to use any of these methods</p>

						<div class='contact-detail'>
							<span class='icon-envelope'></span>
							<div>
								<h4>Email</h4>
								<p>Forest.D.Collins@gmail.com</p>
							</div>
						</div>

						<div class='contact-detail'>
							<span class='icon-phone'></span>
							<div>
								<h4>Phone</h4>
								<p>918-351-8097</p>
							</div>
						</div>
						
						<div class='contact-detail'>
							<span class='icon-map-pin'></span>
							<div>	
								<h4>Inhabits</h4>
								<p>Denton, TX. 76209</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<% include ./views/utils/landing-notifications %>

		<% include ./views/shared/footer %>
		<script src='./main.build.js'></script>
	</body>
</html>