<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Forrest - Home</title>
		<link href='https://fonts.googleapis.com/css?family=Sanchez:400,400italic|Pacifico|Lato:300,100' rel='stylesheet' type='text/css'>
		<link href='/vendor/mdi/css/materialdesignicons.css' rel='stylesheet'>
		<link rel='stylesheet' href='/static/stylesheets/css/main.css'>
	</head>

	<body>
		<div id='backdrop'></div>

		<section id='intro'>
			<div class='intro-content' class='mask'>
				<div class='intro-content-container'>
					<div class='intro-content-left'>
						<div>
							<h3>Forrest Collins</h3>
							<p>The Design is in the Details</p>
						</div>

						<div class='intro-content-left-button'>
							<button id='home-button'>
								<span>
									<i class='mdi mdi-arrow-right'></i>
								</span>
							</button>
							<span>View Profile</span>
						</div>
					</div>

					<div class='intro-content-right'>
						<div class='intro-content-image'>
							<img src='/static/images/landscape.jpg'>
						</div>
					</div>
				</div>
			</div>
		</section>

		<script src='/scripts/main.js'></script>
	</body>
</html>