<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<link rel='stylesheet' href='./vendor/font-awesome/css/font-awesome.css'>
		<link href='https://fonts.googleapis.com/css?family=Muli:400,400italic|Playfair+Display:400,700|Lato:300italic,300' rel='stylesheet'>
		<link rel='stylesheet' href='./main.min.css'>
	</head>

	<body>
		<nav class='nav'>
			<div class='nav-left'>
				<div class='nav-item'>
					<h3>Forrest Collins</h3>
				</div>
			</div>

			<div class='nav-right'>
				<div class='nav-item'>
					<button id="open-sidenav">
						<span>Menu</span>
					</button>
				</div>
			</div>
		</nav>



		<div id='sidenav' class='sidenav'>

			<div class='sidenav-header'>
				<button id='close-sidenav'>
					<span>x</span>
				</button>

				<div></div>
			</div>

			<div class='sidenav-body'>
				<ul>
					<li>
						<button>
							<span>Home</span>
						</button>
					</li>

					<li>
						<button>
							<span>About Me</span>
						</button>
					</li>

					<li>
						<button>
							<span>Skills</span>
						</button>
					</li>

					<li>
						<button>
							<span>Projects</span>
						</button>
					</li>

					<li>
						<button>
							<span>Blog</span>
						</button>
					</li>

					<li>
						<button>
							<span>Contact</span>
						</button>
					</li>
				</ul>
			</div>
		</div>

		<section id='canvas-banner'></section>

		<section id="home-skills">
			<% include ./templates/home/skills %>
		</section>

		<section id='home-featured'>
			<% include ./templates/home/featured %>
		</section>
		
		<section id='home-about'>
			<% include ./templates/home/about %>
		</section>

		<section id='footer'>
			<% include ./templates/shared/footer %>
		</section>


		<script src='./bundle.js'></script>
	</body>
</html>