<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content="width=device-width, initial-scale=1">
        <meta name='description' content="The Portfolio of Full-Stack Application Developer Forrest Collins">
        <meta name='keywords' content="Developer Javascript Portfolio Frontend Backend Fullstack Node Web-Developer Application Programmer">

        <title>Forrest Collins, Full-Stack Developer</title>

        <link rel='preload' href='./styles/main.css' as="style" onload="this.rel='stylesheet'">
        <script src="https://use.typekit.net/mzw4inb.js"></script>
        <script>Typekit.load({async: true});</script>
    </head>

    <body>
        <main class='landing-page-container page-container'>
            <header class='landing-header header'>
                <div class='wrapper standard'>
                    <div class='content'>
                        <h1>
                            <span>Hi, I'm Forrest Collins</span>
                            <span>I'm a Fullstack Engineer</span>
                        </h1>

                        <p>I design custom and innovative solutions for the modern web that are engineered to give the best user experience possible. At heart I'm just a big nerd who loves coffee, cats, and distributed systems. That's cool, right? <small>right..?</small></p>
                    </div>
                    <!-- content -->
                </div>
                <!-- wrapper -->
                <div class='bg'>
                    <span class='band over bottom left rotate_cc origin_tl'></span>
                    <span class='band under bottom right rotate_c origin_tr'></span>
                </div>
                <!-- bg -->
            </header>

            <section class='landing-bubbles'>
                <div class='wrapper standard'>
                    <div class='content'>
                        <figure class='bubble-feature design'>
                            <img class='icon design' src='./static/images/design.png' alt="Forrest's Design Principles">
                            <h2>UI/UX Design</h2>
                            <p>Great design starts with putting people first. Work with and you'll benefit from a collaborative user experience design approach that promises improved usability, accessibility, and efficiency</p>
                            <a href='/design'>Read More</a>
                        </figure>

                        <figure class='bubble-feature development'>
                            <img class='icon development' src='./static/images/development.png' alt="Forrest's Development Principles">
                            <h2>Pixel-Perfect Development</h2>
                            <p>I try to consider every detail, right down to each individual pixel. When we decide on a design, this is exactly how the finished product with look, complete with stunning animation and effects, and built with the latest technologies</p>
                        </figure>

                        <figure class='bubble-feature devops'>
                            <img class='icon devops' src='./static/images/devops.png'>
                            <h2>Devops</h2>
                            <p>I use tools like AWS and NGINX to ensure that your product is optimized, distributed, and will perform to the best of its abilities regardless of the user's location or connection. All products are built with growth and scalability in mind</p>
                        </figure>
                    </div>
                    <!-- content -->
                </div>
                <!-- wrapper -->
            </section>
        </main>
    </body>
</html>