.footer
	display: flex
	flex-direction: column
	align-items: center
	padding: 40px 0

	p
		@include open()
		font-weight: 300
		font-size: 16px
		letter-spacing: 2px

.footer-social-buttons
	display: flex
	flex-direction: row
	align-items: center
	justify-content: center
	padding-top: 50px

.footer-button
	display: flex
	flex: 1
	padding-right: 12px

	div
		display: flex
		align-items: center
		justify-content: center
		height: 45px
		width: 45px
		border-radius: 50%
		border: 1px solid rgba(0,0,0,0.12)

		span
			color: rgba(0,0,0,0.5)
			font-size: 18px

@media screen and (min-width: 630px)
	.footer
		p
			font-size: 18px
			letter-spacing: 3px

	.footer-button
		padding-right: 18px

		div
			span
				font-size: 22px

@media screen and (min-width: 1325px)
	.footer
		flex-direction: row
		padding: 40px 25px

	.footer-text
		display: flex
		flex: 1
		flex-basis: 0
		align-items: center
		justify-content: flex-start

	.footer-social-buttons
		flex: 1
		flex-basis: 0
		justify-content: flex-end
		padding-top: 0

	.footer-button
		flex: 0

		button
			position: relative
			height: 40px
			padding: 0 10px
			transition: all .4s ease

			span
				@include open()
				font-weight: 300
				font-size: 18px
				letter-spacing: 2px
				transition: all .28s ease-in-out

			&:before,
			&:after
				display: block
				content: ""
				position: relative
				width: 0px
				margin: 0 auto
				backface-visibility: hidden
				border: 1px solid rgba(0,0,0,0.35)
				transition: all .28s ease-in-out

			&:after
				bottom: -10px

			&:before
				top: -10px

			&:hover
				&:after,
				&:before
					width: 70%
					transition: width .35s ease-in-out

				span
					letter-spacing: 6px


