.footer
	display: flex
	flex-direction: column
	align-items: center
	padding: 40px 0

	p
		@include open()
		font-weight: 300
		font-size: 16px
		letter-spacing: 2px

.footer-social-buttons
	display: flex
	flex-direction: row
	align-items: center
	justify-content: center
	padding-top: 50px

.footer-button
	display: flex
	flex: 1
	padding-right: 12px

	div
		display: flex
		align-items: center
		justify-content: center
		height: 45px
		width: 45px
		border-radius: 50%
		border: 1px solid rgba(0,0,0,0.12)

		span
			color: rgba(0,0,0,0.5)
			font-size: 18px

@media screen and (min-width: 630px)
	.footer
		p
			font-size: 18px
			letter-spacing: 3px

	.footer-button
		padding-right: 18px

		div
			span
				font-size: 22px

