.nav 
    align-items: stretch
    background-color: transparent
    display: flex
    height: 90px
    left: 0
    padding: 0 1.3rem
    position: absolute
    top: 0
    transition: transform 0.4s ease-out
    width: 100%
    z-index: 110


.nav-left 
    align-items: center
    display: flex
    flex: 1 0 0
    justify-content: flex-start


.nav-right 
    align-items: center
    display: flex
    flex: 1 0 0
    justify-content: flex-end


.nav-item 
    align-items: center
    display: none
    justify-content: center
    padding: 0.8rem

.nav-menu
    align-items: center
    cursor: pointer
    display: flex
    overflow: visible
    position: relative
    transition: opacity 0.15s linear
    z-index: 120

    &.is-active 
        pointer-events: auto

        .menu-inner 
            background-color: transparent
            transition-delay: 0.22s

            &::before 
                top: -2px
                transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.62, 0.355, 1)
                transform: translate3d(0, 12px, 0) rotate(45deg)
            

            &::after 
                top: -2px
                transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform(0.215, 0.61, 0.355, 1)
                transform: translate3d(0, 12px, 0) rotate(-45deg)
            
       
    


.menu-box 
    display: inline-block
    height: 18px
    position: relative
    width: 30px


.menu-inner 
    background-color: #fff
    display: block
    height: 3px
    top: 2px
    transition: background-color 0s 0.13s linear

    &::before,
    &::after 
        background-color: #fff
        border-radius: 4px
        content: ""
        display: block
        height: 3px
        position: absolute
        transition: transform 0.15s ease
        width: 30px
    

    &::before 
        top: 6px
        transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19)
    
    &::after 
        top: 12px
        transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19)
    


@media screen and (min-width: 1100px) 
    .nav-menu 
        display: none
    
    .nav 
        height: 70px
        left: 0
        position: fixed
        top: 0
        transition: all 0.4 ease-in

        &.nav-pinned 
            background-color: #fff
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12)
            transform: translateY(0)

            .nav-item a
                margin-bottom: 0

                button span 
                    color: $design
                    font-size: 0.98rem
                
        &.nav-unpinned 
            transform: translateY(-70px)
        
    
    .nav-item 
        display: flex

        button 
            cursor: pointer
            position: relative
        

        span 
            color: #f3f2f1
            transition: color 0.4s ease-out
        
    





