.nav
	display: flex
	align-items: stretch
	position: absolute
	top: 0
	left: 0
	height: 70px
	width: 100%
	padding: 0 45px
	background: transparent
	z-index: 110
	transition: all .4s ease-out

.nav-left
	display: flex
	flex: 1 0 0
	align-items: center
	justify-content: flex-start

.nav-right
	display: flex
	flex: 1 0 0
	align-items: center
	justify-content: flex-end

.nav-menu
	position: relative
	display: flex
	align-items: center
	padding: 15px
	cursor: pointer
	transition-property: opacity
	transition-duration: 0.15s
	transition-timing-function: linear
	overflow: visible
	z-index: 120

.nav-menu.is-active
    pointer-events: auto

    .menu-inner
        transition-delay: 0.22s
        background-color: transparent

        &:before
            top: -2px
            transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.62, 0.355, 1)
            transform: translate3d(0, 12px, 0) rotate(45deg)

        &:after
            top: -2px
            transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1)
            translate3d(0, 12px, 0) rotate(-45deg)
            transform: translate3d(0, 12px, 0) rotate(-45deg)
.menu-box
	position: relative
	display: inline-block
	width: 30px
	height: 18px

.menu-inner
    display: block
    height: 3px
    top: 2px
    background-color: #fff
    transition: background-color 0s 0.13s linear

    &:before,
    &:after
        content: ""
        display: block
        height: 3px
        width: 30px
        background-color: #fff
        border-radius: 4px
        position: absolute
        transition-property: transform
        transition-duration: 0.15s
        transition-timing-function: ease

    &:before
        top: 6px
        transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19)

    &:after
        top: 12px
        transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19)



@media screen and (min-width: 1100px)
	.nav-menu
		display: none

	.nav-item
		height: 60px

		&.desktop
			display: flex

			button
				position: relative
				width: 90px

				span
					@include lato()
					font-weight: 300
					font-size: 18px
					letter-spacing: 3px
					color: #f3f2f1
					transition: all .4s ease-out

				&:before
					content: ""
					position: absolute
					bottom: -8px
					left: 0
					height: 1px
					width: 100%
					opacity: 0
					transform: translateY(30px)
					background: #f3f2f1
					transition: all .3s ease-out

				&:hover
					&:before
						opacity: 1
						transform: translateY(0)

		.nav-link
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			text-decoration: none
			
			&.active
				button
					span
						color: #429e97




