<div class='home-about-container'>
	<div class='home-about-header column column-center'>
		<h2 class='section-header'>
			About Me
		</h2>
	</div>

	<div class='home-about-image column column-vh-center'>
		<img src='../static/images/me.jpg'>
	</div>

	<div class='home-about-content column column-vh-center'>
		<p>The transition from writing simluations in ForTran to delegating events in Javascript
		has been an interesting one. It is an exciting time where developers <span>all around the world</span>
		<span class='about-grey'>are pushing the boundaries of what we thought the web was capable of.</span> Because of these changes
		<span>I must always be learning and improving my skills,</span> and for this reason I am currently devouring as much of ES6 as I can</p>
	</div>

	<div class='home-about-learn-more column column-center'>
		<p>Learn More About Me <span>Here</span>
	</div>

	<div class='home-page-seperate'></div>
</div>