<div class='home-about-container'>
	<div class='home-about-header'>
		<h2 class='section-header'>
			About Me
		</h2>

		<div class='header-bar'>
			<div class='circle'></div>
		</div>
	</div>

	<div class='home-about-image'>
		<div></div>
	</div>

	<div class='home-about-content'>
		<p>Something something something things about me</p>
	</div>
</div>