<div class='contact-container'>
	<div class='contact-header column column-center'>
		<h2 class='section-header'>
			Contact Me
		</h2>
	</div>

	<div class='contact-body row row-center'>
		<div class='contact-form column'>
			<form name='contact'>
				<div class='form-wrapper'>
					<input type='text' placeholder="Name* :" id='contact-name'>
				</div>

				<div class='form-wrapper'>
					<input type='email' placeholder="Email* :" id='contact-email'>
				</div>

				<div class='form-wrapper'>
					<input type='text' placeholder="Subject* :" id='contact-subject'>
				</div>

				<div class='form-wrapper'>
					<textarea type='text' placeholder="Message* :" id='contact-message' cols='40' rows='7'></textarea>
				</div>

				<div class='contact-submit'>
					<button id='contact-send' type='button'>
						<span>Message Me</span>
					</button>
				</div>

				<div>
					<button id='contact-trigger' type='button'>
						<span>Click</span>
					</button>
				</div>
			</form>
		</div>

		<div class='contact-details column'>
			<h4>Details</h4>
			<p>Feel free to send me a message about projects, works, or just to talk</p>

			<div class='row row-v-center'>
				<i class='icon icon-envelope'></i>
				<div class='column'>
					<h4>Email</h4>
					<p>Forest.D.Collins@gmail.com</p>
				</div>
			</div>

			<div class='row row-v-center'>
				<i class='icon icon-map'></i>
				<div class='column'>
					<h4>Inhabits</h4>
					<p>Denton TX, 76209</p>
				</div>
			</div>
		</div>
	</div>

	<div id="contact-success">
		<p>Stuff</p>
	</div>
</div>