<div class='home-featured-container'>
	<div class='home-featured-header'>
		<h2 class='section-header'>
			Some Of My Work
		</h2>

		<div class='header-bar'>
			<div class='circle'></div>
		</div>
	</div>

	<div class='home-featured-body'>
		<p>Here are some of the works that I am proud of</p>

		<div class='home-featured-projects'>
			<div class='home-featured-project'>
				<div class='home-featured-project-image'>
					<div></div>
					<div class='home-featured-projects-overlay'>
						<% include ./dialogs/opinionated %>
					</div>
				</div>
				<p>Opinionated</p>
				<p>Technologies</p>
			</div>

			<div class='home-featured-project'>
				<div class='home-featured-project-image'>
					<div></div>
				</div>
				<p>Application Boiler</p>
				<p>Technologies</p>
			</div>
		</div>
	</div>

	<div class='home-featured-learn-more'>
		<button>
			<span>See All My Work</span>
		</button>
	</div>
</div>