<div class='home-featured-container'>
	<div class='home-featured-header column column-center'>
		<h2 class='section-header'>
			Some Of My Work
		</h2>
	</div>

	<div class='home-featured-body column column-center'>

		<div class='home-featured-projects row'>
			<div class='home-featured-project'>
				<div class='home-featured-project-image'>
					<img src=../static/images/opinionated.jpeg>
					<div class='home-featured-projects-overlay column column-vh-center'>
						<% include ./dialogs/opinionated %>
					</div>
				</div>
				<p>Opinionated</p>
				<p>AngularJs, Angular Material, Node, Express, Websockets, MongoDB and more</p>
			</div>

			<div class='home-featured-project'>
				<div class='home-featured-project-image'>
					<div></div>
				</div>
				<p>Application Boiler</p>
				<p>Technologies</p>
			</div>
		</div>
	</div>

	<div class='home-featured-learn-more column column-center'>
		<p>See All Of My Work <span class='go-to-works'>Here</span></p>
	</div>

	<div class='home-page-seperate'></div>
</div>