<div class='home-heading-container'>
	<div class='home-heading-overlay column column-center'>
		<h2>Hi, I'm Forrest</h2>
		<p>I am an obsessively thorough full-stack development</p>

		<button id='scrollToContact'>
			<span>Contact Me</span>
		</button>
	</div>
</div>