<div id='home-about'>
	<div>
		<div class='home-about-image'>
			<img src='/images/me.jpg'>
		</div>
		<h2 class='title'>About Me</h2>
		<p class='short-description'>The transition from running simulations in ForTran to handling events in Javascript has been and intersting one. Writing powerful, elegant code and creating unique user experiences are two of my greatest passions. I am very excited for the future of Javascript and the major advances we will make with the web in the coming years. For this reason I am readily trying to digest as much of the lovely syntactical-sugar that es6 provides.</p>
	</div>
</div>