<div id='home-skills'>
	<div>
		<div class='home-skills-header'>
			<h2>My Expertise</h2>
			<div class='header-bar'>
				<div class='circle'></div>
			</div>
			<p>I've been developing my skill-set to focus on what's most suited
			to getting the job done quickly and effectively</p>
		</div>

		<div class='home-skills-body'>
			<div>
				<div class='home-skills-skill'>
					<div class='home-skills-icon'>
						<div>
							<i class='mdi mdi-language-html5'></i>
						</div>
					</div>

					<h4>Front End</h4>

					<div class='home-skills-description'>
						I write code that conforms to the WC3's web standards and semantic best practices. I use technologies like HTML/EJS, CSS3/SASS, JavaScript(ES6, Angular, Aurelia), to transform static artwork and concepts into mobile first, pixel perfect, interactive, and fully functional interfaces; exactly the way your designers intended.
					</div>
				</div>

				<div class='home-skills-skill'>
					<div class='home-skills-icon'>
						<div>
							<i class='mdi mdi-language-javascript'></i>
						</div>
					</div>

					<h4>Back End</h4>

					<div class='home-skills-description'>
						I put incredible detail into designing the architecture before the coding ever begins. Scalability and ease-of-consumption are my first main focuses. Will the application scale well? What is the estimated user base on deploy, and what can be done quickly and effectively if we underestimated are concerns throughout the entire build process. During the build I also put a high emphasis on quality of life for other developers. I produce well-structured, commented, and organized code to ensure someone new can follow my exact train of thought.
					</div>
				</div>

				<div class='home-skills-skill'>
					<div class='home-skills-icon'>
						<div>
							<i class='mdi mdi-account-circle'></i>
						</div>
					</div>

					<h4>Personal</h4>

					<div class='home-skills-description'>
						As a developer, I strive to always be learning. The web moves at an astonishingly fast rate and it is nearly impossible to be "in-the-know" on everything, but being familiar with current trends and technologies is integral to being a modern developer. This way I can sit down with my clients and discuss the best possible tools for their specific project. Even if I do not have a close working knowledge of the tools best suited for their goals, understanding its use cases, strengths, and weaknesses allows me to make the correct suggestions and then to learn and utilize these tools at a deeper level when the coding begins.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>