<div id='home-projects'>
	<div>
		<div class='home-projects-header'>
			<h2>Featured Project</h2>
			<div class='header-bar'>
				<div class='circle'></div>
			</div>
		</div>

		<div class='home-projects-body'>
			<div class='home-projects-item'>
				<div>
					<img src='/static/images/opinionated.jpeg'>
					<div class='projects-overlay'>
						<div>
							<div id='open-opinionated'>See More</div>
							<div id='opinionated-dialog'>
								<div class='opinionated-dialog-content'>
									<div class='opinionated-dialog-left'>
										<div>
											<img src='../static/images/opinionated.jpeg'>
										</div>
									</div>

									<div class='opinionated-dialog-right'>
										<div class='opinionated-dialog-right-header'>
											<h3>Opinionated</h3>
											<div>
												<div></div>
											</div>
										</div>

										<div class='opinionated-dialog-right-body'>
											<p>Opinionated is a site similar to Reddit or Hackernews. It is currently in a work of process in version 0.1.0. See Coming Features in the Github Repo</p>

											<div>
												<div>
													<h4>Users</h4>
													<p>Authentication with JWT</p>
													<p>Customizable Profile</p>
													<p>Roles</p>
													<p>User Messaging</p>
													<p>Image Uploads</p>
												</div>

												<div>
													<h4>Streams</h4>
													<p>Create Unique Streams</p>
													<p>Fill them with Threads</p>
													<p>Populate these with Comments</p>
													<p>Enjoy Being a moderator</p>
													<p>Earn Score</p>
													<p>Customize your feed</p>
												</div>
											</div>

											<section class='opinionated-dialog-actions'>
												<button aria-label='go to opinionated' id='opinionated-site'>
													<a href='https://opinionate.herokuapp.com'>
														<span>
															Checkout Opinionated
														</span>
													</a>
												</button>

												<button aria-label='go to the repository' id='opinionated-repo'>
													<a href='https://github.com/Bashkir15/opinion'>
														<i class='mdi mdi-github-circle'></i>
													</a>
												</button>
											</section>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<p>Opinionated</p>
				<p class='short-description'>NodeJS, ExpressJs, MongoDB, AngularJs</p>
			</div>
		</div>
	</div>
</div>