<div id="home-header">	
	<div class='header-overlay'>
		<div class='header-overlay-text'>
			<div class='header-overlay-icon'>
				<div>
					<div>
						<span>FC</span>
					</div>
				</div>
			</div>
			<h2>Obsessively thorough front and back end development</h2>
		</div>
	</div>
</div>