<div id='home-skills'>
	<div>
		<div class='home-skills-header'>
			<h2>My Expertise</h2>
			<div class='header-bar'>
				<div class='circle'></div>
			</div>
			<p>I've been developing my skill-set to focus on what's most suited
			to getting the job done quickly and effectively</p>
		</div>

		<div class='home-skills-body'>
			<div>
				<div class='home-skills-skill'>
					<div class='home-skills-icon'>
						<div>
							<i class='mdi mdi-language-html5'></i>
						</div>
					</div>

					<h4>Front End</h4>

					<div class='home-skills-description'>
						I write code that conforms to the WC3's web standards and semantic best practices. I use technologies like HTML/EJS, CSS3(SASS), JavaScript(ES6, Angular, Aurelia), to transform static artwork and concepts into mobile first, pixel perfect, interactive, and fully functional interfaces; exactly the way your designers intended.
					</div>
				</div>

				<div class='home-skills-skill'>
					<div class='home-skills-icon'>
						<div>
							<i class='mdi mdi-language-javascript'></i>
						</div>
					</div>

					<h4>Back End</h4>

					<div class='home-skills-description'>
						By putting incredible detail into planning before the coding begins. The architecture must promote scalability with an infrastructure which easily allows additions of new instances under a load balancer(Node, NGNIX), data-storage solutions are well considered and not limited to solely one(MongoDb, Redis), static files should be served from a CDN, with logging and monitoring being key to tracking performance.
					</div>
				</div>

				<div class='home-skills-skill'>
					<div class='home-skills-icon'>
						<div>
							<i class='mdi mdi-account-circle'></i>
						</div>
					</div>

					<h4>Personal</h4>

					<div class='home-skills-description'>
						My primary objective is to always be learning. I am always seeking to improve myself in everything that I do. I see projects as an opportunity to broaden my tool-kit, and in my spare time I find myself reading tech and coding articles to facilitate my knowledge
					</div>
				</div>
			</div>
		</div>
	</div>
</div>