<div id='home-projects'>
	<div>
		<div class='home-projects-header'>
			<h2>Featured Project</h2>
			<div class='header-bar'>
				<div class='circle'></div>
			</div>
		</div>

		<div class='home-projects-body'>
			<div class='home-projects-item'>
				<div>
					<div class='projects-overlay'>
						<a href='https://opinionate.herokuapp.com'>
							<div id='open'>See More</div>
						</a>
					</div>

					<img src='/static/images/opinionated.jpeg'>
				</div>
				<p>Opinionated</p>
				<p class='short-description'>NodeJS, ExpressJs, MongoDB, AngularJs</p>
			</div>
		</div>
	</div>
</div>