<div class='home-skills-container'>
	<header class='home-skills-header'>
		<h2>A Skillful Overview</h2>
		<div class='header-bar'>
			<div class='circle'></div>
		</div>
	</header>

	<div class='home-skills-body'>
		<p>I've been developing my skillset to focus on what's most suited to getting the job done quickly and effectively</p>

		<div class='home-skills-content'>
			<div class='home-skills-skill'>
				<div class='home-skills-icon'>
					<div></div>
				</div>

				<h3>Front End</h3>
				<div class='subheader-bar'></div>

				<div class='home-skills-description'>
					<p>HTML5</p>
					<p>CSS3</p>
					<p>Sass, Stylus</p>
					<p>Javascript(ES6)</p>
					<p>AngularJS</p>
					<p>React</p>
					<p>Vue</p>
				</div>
			</div>

			<div class='home-skills-skill'>
				<div class='home-skills-icon'>
					<div></div>
				</div>

				<h3>Back End</h3>
				<div class='subheader-bar'></div>

				<div class='home-skills-description'>
					<p>NodeJs</p>
					<p>MongoDB</p>
					<p>Redis</p>
					<p>RethinkDB</p>
					<p>Websockets</p>
					<p>Gulp Automation</p>
					<p>Webpack</p>
				</div>
			</div>

			<div class='home-skills-skill'>
				<div class='home-skills-icon'>
					<div></div>
				</div>

				<h3>Soft Skills</h3>
				<div class='subheader-bar'></div>
				

				<div class='home-skills-description'>
					<p>Idk Yet</p>
				</div>
			</div>
		</div>
	</div>
</div>