<div class='home-skills-container'>
	<header class='home-skills-header'>
		<h2>Some of My Skills</h2>
	</header>

	<div class='home-skills-body'>
		<div class='home-skills-group'>
			<div>
				<i class='icon icon-printer'></i>
				<div>
					<h4>Backend</h4>
					<p>NodeJs, Express, and Websockets come together to create modern, secure, and performant backends</p>
				</div>
			</div>

			<div>
				<i class='icon icon-expand'></i>
				<div>
					<h4>Database</h4>
					<p>MongoDB, Redis, and RethinkDB are my NoSQL weapons to creating well-designed data structures</p>
				</div>
			</div>

			<div>
				<i class='icon icon-desktop'></i>
				<div>
					<h4>Frontend</h4>
					<p>HTML5, CSS3(SASS), Javascript(ES6), AngularJS, Vue, and React are just some of the tools in my kit</p>
				</div>
			</div>
		</div>

		<div class='home-skills-group'>
			<div>
				<i class='icon icon-browser'></i>
				<div>
					<h4>UI/UX</h4>
					<p>I am passionate about creating enjoyable and interactive experiences that bring users back</p>
				</div>
			</div>

			<div>
				<i class='icon icon-mobile'></i>
				<div>
					<h4>Responsive Design</h4>
					<p>Applications are not one size fits all, but by building with other devices in mind we can push that under the rug</p>
				</div>
			</div>

			<div>
				<i class='icon icon-megaphone'></i>
				<div>
					<h4>Efficiency</h4>
					<p>I like to waste as little time as possible, so I use tools like gulp, webpack, and rollup to make the job smoother</p>
				</div>
			</div>
		</div>
	</div>

	<div class='home-skills-learn-more'>
		<p>See Them In Action <span>Here</span></p>
	</div>

	<div class='home-page-seperate'></div>
</div>
				
<!-- <div class='home-skills-container'>
	<header class='home-skills-header'>
		<h2>A Skillful Overview</h2>
		<div class='header-bar'>
			<div class='circle'></div>
		</div>
	</header>

	<div class='home-skills-body'>
		<p>I've been developing my skillset to focus on what's most suited to getting the job done quickly and effectively</p>

		<div class='home-skills-content'>
			<div class='home-skills-skill'>
				<div class='home-skills-icon'>
					<div>
						<i class='fa fa-rocket'></i>
					</div>
				</div>

				<h3>Front End</h3>
				<div class='subheader-bar'></div>

				<div class='home-skills-description'>
					<p>HTML5</p>
					<p>CSS3</p>
					<p>Sass, Stylus</p>
					<p>Javascript(ES6)</p>
					<p>AngularJS</p>
					<p>React</p>
					<p>Vue</p>
				</div>
			</div>

			<div class='home-skills-skill'>
				<div class='home-skills-icon'>
					<div>
						<i class='fa fa-tasks'></i>
					</div>
				</div>

				<h3>Back End</h3>
				<div class='subheader-bar'></div>

				<div class='home-skills-description'>
					<p>NodeJs</p>
					<p>MongoDB</p>
					<p>Redis</p>
					<p>RethinkDB</p>
					<p>Websockets</p>
					<p>Gulp Automation</p>
					<p>Webpack</p>
				</div>
			</div>

			<div class='home-skills-skill'>
				<div class='home-skills-icon'>
					<div>
						<i class='fa fa-user'></i>
					</div>
				</div>

				<h3>Soft Skills</h3>
				<div class='subheader-bar'></div>


				<div class='home-skills-description'>
					<p>Idk Yet</p>
				</div>
			</div>
		</div>

		<div class='home-skills-learn-more'>
			<button>
				<span>Learn More</span>
			</button>
		</div>
	</div>
</div> -->