<div class='home-skills-container'>
	<header class='home-skills-header'>
		<h2>A Skillful Overview</h2>
		<div class='header-bar'>
			<div class='circle'></div>
		</div>
	</header>

	<div class='home-skills-body'>
		<p>I've been developing my skillset to focus on what's most suited to getting the job done quickly and effectively</p>

		<div>
			<p>This is just a rough overview of my skills, if you would like to see something more indepth, click here</p>
		</div>

		<div class='home-skills-content'>
			<div class='home-skills-skill'>
				<div class='home-skills-icon'>
					<div></div>
				</div>

				<h4>Front End</h4>

				<div class='home-skills-description'>
					<p>Idk Yet</p>
				</div>
			</div>

			<div class='home-skills-skill'>
				<div class='home-skills-icon'>
					<div></div>
				</div>

				<h4>Back End</h4>

				<div class='home-skills-description'>
					<p>idk yet</p>
				</div>
			</div>

			<div class='home-skills-skill'>
				<div class='home-skills-icon'>
					<div></div>
				</div>

				<h4>Soft Skills</h4>

				<div clas='home-skills-description'>
					<p>Idk Yet</p>
				</div>
			</div>
		</div>
	</div>
</div>