<div class='footer-container'>
	<p>Feel free to check me out on social media</p>

	<div class='footer-social-container'>
		<div class='footer-social-item'>
			<a href='https://twitter.com/Fordocol'>
				<button>
					<i class='fa fa-twitter'></i>
				</button>
			</a>
		</div>

		<div class='footer-social-item'>
			<a href='https://github.com/Bashkir15'>
				<button>
					<i class='fa fa-github'></i>
				</button>
			</a>
		</div>
	</div>
</div>