<div class='sidenav-header'>
	<button id='sidenav-close'>
		<span>x</span>
	</button>

	<div></div>
</div>

<div class='sidenav-body'>
	<ul>
		<li>
			<a>
				<button>
					<span>Home</span>
				</button>
			</a>
		</li>

		<li>
			<a>
				<button>
					<span>About Me</span>
				</button>
			</a>
		</li>

		<li>
			<a>
				<button>
					<span>Skills</span>
				</button>
			</a>
		</li>

		<li>
			<a>
				<button>
					<span>Works</span>
				</button>
			</a>
		</li>

		<li>
			<a>
				<button>
					<span>Contact Me</span>
				</button>
			</a>
		</li>
	</ul>
</div>