<div class='sidenav-header column column-center'>
	<button id='sidenav-close'>
		<span>x</span>
	</button>

	<img src='../static/images/me.jpg'>
</div>

<div class='sidenav-body'>
	<ul>
		<li>
			<a href='/'>
				<button>
					<i class='icon icon-trophy'></i>
					<span>Home</span>
				</button>
			</a>
		</li>

		<li>
			<a class='go-to-about' title="about">
				<button>
					<i class='icon icon-profile-male'></i>
					<span>About Me</span>
				</button>
			</a>
		</li>

		<li>
			<a title="skills" class='go-to-skills'>
				<button>
					<i class='icon icon-lightbulb'></i>
					<span>Skills</span>
				</button>
			</a>
		</li>

		<li>
			<a class='go-to-works'>
				<button>
					<i class='icon icon-genius'></i>
					<span>Works</span>
				</button>
			</a>
		</li>
	</ul>
</div>