<footer class='footer'>
	<div class="footer-top">
		<div>
			<div class="footer-columns">
				<div class="footer-col-1">
					<h6>Useful Links</h6>
					<ul class="footer-links">
						<li>
							<a href='/'>Home</a>
						</li>

						<li>
							<a href='/about'>About</a>
						</li>

						<li>
							<a href='/works'>Works</a>
						</li>

						<li>
							<a href='/contact'>Contact</a>
						</li>
					</ul>
				</div>

				<div class="footer-col-2">
					<h6>Social</h6>
					<ul class="footer-links">
						<li>
							<a href='https://www.facebook.com/forest.collins.7' target="_blank" rel="noopener noreferrer">Facebook</a>
						</li>

						<li>
							<a href='https://www.twitter.com/fordocol' target="_blank" rel="noopener noreferrer">Twitter</a>
						</li>

						<li>
							<a href='https://www.github.com/Bashkir15' target="_blank" rel="noopener noreferrer">Github</a>
						</li>
					</ul>
				</div>
				<div class="footer-col-3"></div>
				<div class="footer-col-4">
					<h6>Newsletter</h6>
					<p>The latest news, advice and blog posts straight to your inbox</p>
					<form name="newsletter-form">
						<div>
							<input type="email" name="newsletter-email" id="newsletter-email" class="newsletter-input">
							<label for="newsletter-email">Email</label>
						</div>
						<button type="button" class="newsletter-submit">Sign Up</button>
					</form>

					<h6>Consultation and Support</h6>
					<p>
						Call: 1-918-351-8097
						<br>
						Email: <a href="mailto:Forest.collins.portfolio@gmail.com"></a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-bottom">
		<div>
			<p>Copyright &copy; 2015-2017 Forrest Collins&trade; Ltd.
				<span class="space">&#9679;</span>
				Texas: <span class="highlight">2002 Longmeadow Ct.</span>
			</p>
		</div>
	</div>
</footer>
