<footer class='footer'>
	<div class='footer-text'>
		<p>&copy;2015-2017 - Forrest Collins</p>
	</div>

	<div class='footer-social-buttons'>
		<div class='footer-button desktop'>
			<a href='/about'>
				<button>
					<span>About</span>
				</button>
			</a>
		</div>
		<div class='footer-button desktop'>
			<a href='http://ec2-52-71-152-181.compute-1.amazonaws.com:8000/' target="_blank">
				<button>
					<span>Blog</span>
				</button>
			</a>
		</div>
		<div class='footer-button social-button'>
			<a href='https://www.facebook.com/forest.collins.7' target="_blank">
				<div>
					<span class='icon-facebook'></span>
				</div>
			</a>
		</div>

		<div class='footer-button social-button'>
			<a href='https://www.twitter.com/fordocol' target="_blank">
				<div>
					<span class='icon-twitter'></span>
				</div>
			</a>
		</div>

		<div class='footer-button social-button'>
			<a href='https://www.github.com/Bashkir15' target="_blank">
				<div>
					<span class='icon-github'></span>
				</div>
			</a>
		</div>
	</div>
</footer>