<footer class='footer'>
	<p>&copy;2016 - Forrest Collins</p>

	<div class='footer-social-buttons'>
		<div class='footer-button'>
			<a href='/'>
				<div>
					<span>Icon</span>
				</div>
			</a>
		</div>

		<div class='footer-button'>
			<a href='/'>
				<div>
					<span>Icon</span>
				</div>
			</a>
		</div>

		<div class='footer-button'>
			<a href='/'>
				<div>
					<span>Icon</span>
				</div>
			</a>
		</div>

		<div class='footer-button'>
			<a href='/'>
				<div>
					<span>Icon</span>
				</div>
			</a>
		</div>
	</div>
</footer>