<section class='mobile-menu-container' id='mobile-menu-container'>
    <div class='mobile-menu' id='mobile-menu'>
        <ul class='mobile-menu-list'>
            <li><a href='/'>Home</a></li>
            <li><a href='/about'>About</a></li>
            <li><a href='/works'>Works</a></li>
            <li><a href="https://www.github.com/Bashkir15" target="_blank" rel="noopener noreferrer">Github</a></li>

        </ul>
    </div>
</section>
