<div class='mobile-menu-container' id='mobile-menu-container'>
	<div class='mobile-menu' id='mobile-menu'>
		<div class='menu-items-container'>
			<div class='menu-item'>
				<a href='/works' class='nav-link'>
					<div>
						<span>Icon</span>
						<p>Works</p>
					</div>
				</a>
			</div>

			<div class='menu-item'>
				<a href='/about' class='nav-link'>
					<div>
						<span>Icon</span>
						<p>About</p>
					</div>
				</a>
			</div>

			<div class='menu-item'>
				<a href='/blog' class='nav-link'>
					<div>
						<span>Icon</span>
						<p>Blog</p>
					</div>
				</a>
			</div>

			<div class='menu-item'>
				<a href='https://www.github.com/Bashkir15' target="_blank">
					<div>
						<span>Icon</span>
						<p>Github</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>