<nav class='nav' id='nav'>
	<div class='nav-left'>
		<div class='nav-item'>
			<a href='/'>
				<button>
					<span>Forrest Collins</span>
				</button>
			</a>
		</div>
	</div>

	<div class='nav-right'>
		<div class='nav-item below-desktop'>
			<div class='nav-icon' id='nav-trigger'>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>

		<div class='nav-item desktop'>
			<a href='/'>
				<button>
					<span>Home</span>
				</button>
			</a>
		</div>

		<div class='nav-item desktop'>
			<a href='/skills'>
				<button>
					<span>Skills</span>
				</button>
			</a>
		</div>

		<div class='nav-item desktop'>
			<a href='/works'>
				<button>
					<span>Works</span>
				</button>
			</a>
		</div>

		<div class='nav-item desktop'>
			<a href='/about'>
				<button>
					<span>About</span>
				</button>
			</a>
		</div>

		<div class='nav-item desktop'>
			<a href='/blog'>
				<button>
					<span>Blog</span>
				</button>
			</a>
		</div>
	</div>
</nav>