<nav class='nav' id='nav'>
	<div class='nav-left'>
		<div class='nav-item'>
			<a href='/'>
				<button>
					<span>Forrest Collins</span>
				</button>
			</a>
		</div>
	</div>

	<div class='nav-right'>
		<div class='nav-item'>
			<div class='nav-icon' id='nav-trigger'>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
</nav>