<div class='preloader-container'>
<div class='preloader'>
	<span class='slice'></span>
	<span class='slice'></span>
	<span class='slice'></span>
	<span class='slice'></span>
	<span class='slice'></span>
	<span class='slice'></span>
</div>
</div>