<div id='contact-success'>
	<span class='icon-check'></span>
	<div class='notification-right'>
		<h2 class='notification-title'>
			Everything is going smoothly
		</h2>

		<p class='notification-text'>
			I have received your message. You can check your email for confirmation
		</p>
	</div>
</div>

<div id='contact-failure'>
	<span class='icon-beaker'></span>
	<div class='notification-right'>
		<h2 class='notification-title'>
			Hmm, Something went wrong
		</h2>

		<p class='notification-text'>
			This is probably our bad. Refresh your page and try again
		</p>
	</div>
</div>

<div id='contact-error'>
	<span class='icon-lightbulb'></span>
	<div class='notification-right'>
		<h2 class='notification-title'>
			Hmm, that's funny...
		</h2>

		<p class='notification-text'>
			I don't know how this happened. Please check the form for any errors
		</p>
	</div>
</div>
