<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content="width=device-width, initial-scale=1">

		<title>Portfolio -- Blog of Forrest Collins</title>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Raleway:400,600" rel="stylesheet">
		<link rel='stylesheet' href='../static/fonts/style.css'>
		<link rel='stylesheet' href='../styles/main.min.css'>
	</head>

	<body>
		<div class='blog-home-container'>
			<div class='blog-home-left'>
				<% include ./views/shared/sidebar %>
			</div>

			<div class='blog-home-right'>
				<%include ./views/shared/nav %>

				<div class='blog-home-scroll-container'>
				</div>
			</div>
		</div>
	</body>
</html>