<div class='header-phone'>
    <span class='camera'></span>
    <span class='speaker'></span>
    <div class='shadow'></div>
    <div class='screen'>
        <div class='inner'>
            <div class='wireframe'>
                <div class='w_a w_header w_logo w_animate'>
                    <div class='wrapper'>
                        <span class="w_image w_logo w_animate pop delay_4"></span>
                        <div class='w_nav'>
                            <span class="w_text w_animate delay_5"></span>
                            <span class="w_text w_animate delay_6"></span>
                            <span class="w_text w_animte delay_7"></span>
                            <span class="w_text _animate delay_8"></span>
                            <span class="w_text w_animate delay_9"></span>
                            <span class="w_btn w_animate delay_10 pop"></span>
                        </div>
                    </div>
                </div>
                <!-- w_header -->
                <div class="w_a w_feature w_animate">
                    <div class="wrapper">
                        <span class="w_text title w_animate delay_7"></span>
                        <span class="w_text w_animate delay_8"></span>
                        <span class="w_text w_animate delay_9"></span>
                        <span class="w_btn w_animate delay_10"></span>
                    </div>
                </div>
                <!-- w_feature -->
                <div class="wrapper">
                    <div class="w_a w_portals">
                        <div class="w_portal w_animate delay_5">
                            <span class="w_image"></span>
                            <span class="w_text"></span>
                            <span class="w_text"></span>
                        </div>

                        <div class="w_portal w_animate delay_6">
                            <span class="w_image"></span>
                            <span class="w_text"></span>
                            <span class="w_text"></span>
                        </div>

                        <div class="w_portal w_animate delay_7">
                            <span class="w_image"></span>
                            <span class="w_text"></span>
                            <span class="w_text"></span>
                        </div>
                    </div>
                    <!-- w_portals -->
                </div>
                <!-- wrapper -->

                <div class="w_a w_split w_animate">
                    <div class="wrapper">
                        <span class="w_image w_animate delay_4"></span>
                        <div class="w_content">
                            <span class="w_text title w_animate delay_4""></span>
                            <span class="w_text w_animate delay_5"></span>
                            <span class="w_text w_animate delay_6"></span>
                            <span class="w_text w_animate delay_7"></span>
                            <span class="w_text w_animate delay_8"></span>
                            <span class="w_btn w_animate delay_9"></span>
                        </div>
                    </div>
                </div>
                <!-- w_split -->

                <div class="wrapper">
                    <div class="w_a w_services">
                        <div class="w_service w_animate delay_1">
                            <span class="w_image"></span>

                            <div class="w_content">
                                <span class="w_text title"></span>
                                <span class="w_text"></span>
                                <span class="w_text">
                            </span>
                            </div>
                        </div>
                        <div class="w_service w_animate delay_3">
                            <span class="w_image"></span>

                            <div class="w_content">
                                <span class="w_text title"></span>
                                <span class="w_text"></span>
                                <span class="w_text">
                                </span>
                            </div>
                        </div>
                        <div class="w_service w_animate delay_5">
                            <span class="w_image"></span>

                            <div class="w_content">
                                <span class="w_text title"></span>
                                <span class="w_text"></span>
                                <span class="w_text">
                                </span>
                            </div>
                        </div>
                        <div class="w_service w_animate delay_7">
                            <span class="w_image"></span>

                            <div class="w_content">
                                <span class="w_text title"></span>
                                <span class="w_text"></span>
                                <span class="w_text">
                                </span>
                            </div>
                        </div>      
                        <div class="w_service w_animate delay_9">
                            <span class="w_image"></span>

                            <div class="w_content">
                                <span class="w_text title"></span>
                                <span class="w_text"></span>
                                <span class="w_text">
                                </span>
                            </div>
                        </div>
                        <div class="w_service w_animate delay_11">
                            <span class="w_image"></span>

                            <div class="w_content">
                                <span class="w_text title"></span>
                                <span class="w_text"></span>
                                <span class="w_text">
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- w_services -->
                </div>
                <!-- wrapper -->                
                
                <div class="w_a w_form w_animate">
                    <div class="wrapper">
                        <div class="w_fields">
                            <div class="w_field w_animate delay_1">
                                <span class="w_text"></span>
                            </div>

                            <div class="w_field w_animate delay_3">
                                <span class="w_text"></span>
                            </div>

                            <div class="w_btn w_animate delay_5"></div>
                        </div>
                    </div>
                    <!-- wrapper -->
                </div>
                <!-- w_form -->

                <div class="wrapper">
                    <div class="w_a w_news">
                        <div class="w_article w_animate large delay_1">
                            <div class="w_content w_animate delay_2">
                                <span class="w_text title"></span>
                                <span class="w_text"></span>
                                <span class="w_text"></span>
                            </div>
                        </div>

                        <div class="w_article w_animate large delay_3">
                            <div class="w_content w_animate delay_4">
                                <span class="w_text title"></span>
                                <span class="w_text"></span>
                                <span class="w_text"></span>
                            </div>
                        </div>
                        <div class="w_article w_animate delay_5">
                            <div class="w_content w_animate delay_6">
                                <span class="w_text title"></span>
                                <span class="w_text"></span>
                                <span class="w_text"></span>
                            </div>
                        </div>
                        <div class="w_article w_animate delay_7">
                            <div class="w_content w_animate delay_8">
                                <span class="w_text title"></span>
                                <span class="w_text"></span>
                                <span class="w_text"></span>
                            </div>
                        </div>
                    </div>
                    <!-- w_news -->
                </div>
                <!-- wrapper -->

                <div class="w_a w_footer w_animate">
                    <div class="wrapper">
                        <div class="w_links">
                            <span class="w_text w_animate delay_1 title"></span>
                            <span class="w_text w_animate delay_2"></span>
                            <span class="w_text w_animate delay_2"></span>
                            <span class="w_text w_animate delay_2"></span>
                            <span class="w_text w_animate delay_2"></span>
                        </div>
                        <div class="w_links">
                            <span class="w_text w_animate delay_3 title"></span>
                            <span class="w_text w_animate delay_4"></span>
                            <span class="w_text w_animate delay_4"></span>
                            <span class="w_text w_animate delay_4"></span>
                            <span class="w_text w_animate delay_4"></span>
                        </div>
                        <div class="w_links">
                            <span class="w_text w_animate delay_5 title"></span>
                            <span class="w_text w_animate delay_6"></span>
                            <span class="w_text w_animate delay_6"></span>
                            <span class="w_text w_animate delay_6"></span>
                            <span class="w_text w_animate delay_6"></span>
                        </div>
                    </div>
                    <!-- wrapper -->
                </div>
                <!-- footer -->
            </div>
            <!-- wireframe -->
        </div>
        <!-- inner -->
    </div>
    <!-- screen -->
    <span class="button"></span>
</div>