#home-about
	padding: 80px 0

.home-about-header
	padding-top: 75px

	h2
		@include lato
		font-weight: 300
		letter-spacing: 2px
		color: rgb(3,3,3)


.home-about-image
	padding-top: 65px

	img
		height: 80px
		width: 80px
		border: 1px solid rgba(0,0,0,0.35)
		border-radius: 50%
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.35)

.home-about-content
	padding-top: 55px
	width: 60%
	margin: 0 auto

	p
		display: inline-block
		color: rgba(0,0,0,0.8)
		line-height: 30px
		@include lato
		font-weight: 300

		span
			@include muli
			font-weight: 400
			color: darken(#bdc5c8, 15%)
			//text-shadow: 1px 1px rgba(0,0,0,0.35)


.home-about-learn-more
	padding-top: 75px

	p
		@include lato
		font-weight: 300
		color: rgb(119, 119, 119)
		letter-spacing: 2px
		font-size: 14px

		span
			@include lato
			font-weight: 300
			color: #52bd88