#home-header
	max-width: 100%
	position: relative

.header-overlay
	position: absolute
	top: 0
	left: 0
	height: 100%
	width: 100%
	background: linear-gradient(135deg, #52bccc 10%, #8bd6c2 100%)

.header-overlay-text
	display: flex
	flex-direction: column
	align-items: center
	height: 100%
	padding-top: 200px

	> div
		height: 45px
		width: 45px
		border: 1px solid #d5d8dd
		border-radius: 50%

	h2
		padding-top: 35px
		@include pacifico
		font-size: 28px
		line-height: 40px
		color: #4c9ba1


.full-header-image
	height: 100%
	width: 100%

	img
		width: 100%
		height: 100%