@keyframes fadeIn
	0%
		opacity: 0

	100% 
		opacity: 1


#home-heading
	padding: 80px 0

.home-heading-container
	position: relative
	height: 100%
	padding-bottom: 70px
	background-image: linear-gradient(to top, #367d5a 0%, #52b588 100%)


.home-heading-overlay
	width: 100%
	padding-top: 155px

	h2
		@include muli
		font-weight: 300
		font-size: 32px
		letter-spacing: 8px
		color: #434242
		@include fade-in($delay: 2s)

	p
		padding: 75px 20px 100px 20px
		@include muli
		font-weight: 400
		font-size: 18px
		letter-spacing: 3px
		line-height: 30px
		color: #434242
		@include fade-in($delay: 2.5s)

	button
		height: 55px
		width: 155px
		border: none
		border-radius: 4px
		background: #2c3e50
		cursor: pointer
		transition: all .4s ease
		@include fade-in($delay: 2.5s)

		span
			@include lato
			font-weight: 300
			font-size: 16px
			letter-spacing: 2px
			color: #e9e9e9

		&:hover
			background: lighten(#2c3e50, 10%)

@media screen and (max-width: 610px)
	.home-heading-overlay
		p
			text-align: center

		h2
			text-align: center
			line-height: 60px
