#home-skills
	padding: 65px 0 40px 0

.home-skills-header
	height: 100px
	padding-top: 55px

	h2
		font-size: 30px
		line-height: 18px
		letter-spacing: 2px
		@include lato
		font-weight: 300
		color: rgb(3,3,3)


.home-skills-body
	width: 90%
	margin: 0 auto
	padding-top: 27px


.home-skills-group
	margin: 15px 0

	> div
		display: flex
		flex: 1
		margin-top: 40px
		margin-bottom: 40px

		i
			font-size: 40px
			padding: 15px
			color: #52b588

		> div


			h4
				display: block
				font-size: 18px
				letter-spacing: 2px
				line-height: 1.8
				margin: 12px 0 12px 10px
				text-align: left
				color: rgb(3,3,3)
				@include muli
				font-weight: 400

			p
				margin-left: 10px
				margin-bottom: 10px
				letter-spacing: 0.4px
				line-height: 18px
				color: rgb(119, 119, 119)
				@include lato
				font-weight: 300
				font-size: 14px

	

.home-skills-learn-more
	height: 50px
	width: 100%

	p
		@include lato
		font-weight: 300
		color: rgb(119, 119, 119)
		letter-spacing: 2px
		font-size: 14px

		span
			@include lato
			font-weight: 300
			color: #52b588
			cursor: pointer
			transition: color .6s ease-in

			&:hover
				color: #434242

@media screen and (max-width: 760px)
	#home-skills
		//height: 900px

	.home-skills-body
		flex-direction: row

	.home-skills-group
		flex-direction: column

@media screen and (max-width: 550px)
	#home-skills
		//height: 1400px

	.home-skills-body
		flex-direction: column

@media screen and (max-width: 400px)
	#home-skills
		//height: 1700px