#main-footer
	padding-top: 20px
	padding-bottom: 5px
	background: #244359

	> div
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center

		p
			margin-bottom: 6px
			@include lato
			font-weight: 300
			letter-spacing: 1px
			line-height: 13px
			color: #dfe1df

			&:nth-of-type(1)
				font-size: 16px
				color: #9a9a9a

			&:nth-of-type(2)
				font-size: 11px

.footer-icon
	display: flex
	align-items: center
	justify-content: center
	height: 60px
	width: 60px
	border: 1px solid rgba(0,0,0,0.3)
	border-radius: 50%
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4)
	margin-bottom: 30px

	> div
		display: flex
		align-items: center
		justify-content: center
		height: 52px
		width: 52px
		border: 1px solid lighten(#255359, 15%)
		border-radius: 50%
		margin-left: 1px

		> div
			display: flex
			align-items: center
			justify-content: center
			height: 45px
			width: 45px
			border: 1px solid #dfe1df
			border-radius: 50%

			span
				@include lato
				font-weight: 300
				letter-spacing: 1px
				color: #dfe1df


.footer-social-icons
	display: flex
	align-items: stretch
	justify-content: center
	width: 75%
	padding: 8px 0 35px 0

	div
		display: flex
		align-items: center
		justify-content: center

		> div
			display: flex
			flex: 1
			align-items: center
			justify-content: center
			padding: 0 10px

			a
				text-decoration: none

				button
					display: flex
					align-items: center
					justify-content: center
					height: 30px
					width: 30px
					border: 1px solid rgba(0,0,0,0.45)
					border-radius: 4px
					outline: none
					background: rgba(0,0,0,0.3)
					transition: all .4s ease

					i
						font-size: 22px
						color: #9a9a9a

					&:hover
						background: rgba(0,0,0,0.1)
