<div id='open-application-boiler' class='column column-center'>
	<h3>Application Boiler</h3>
	<div class='subheader-bar'></div>

	<button id='open-application-boiler-button'>
		<span>See More</span>
	</button>
</div>


<div id='application-boiler-dialog'>
	<div class='application-boiler-dialog-content'>
		<div class='application-boiler-dialog-header'>
			<div>
				<div>
					<h2>Application Boilerplate</h2>
				</div>
			</div>
		</div>

		<div class='application-boiler-dialog-body row'>
			<div class='application-boiler-dialog-left'>
				<img src='../static/images/blue-city.jpg'>
			</div>

			<div class='application-boiler-dialog-right column'>
				<p>The Application Boilerplate is meant as a tool to spend up the development and production of applications. The server side comes with multiple routes and options to set up any type of application you want</p>

				<div class='row'>
					<i class='icon icon-genius'></i>

					<div>
						<h4>Features</h4>
						<p>Standard JWT auth with remember me, and password reset</p>
						<p>A Social Media set of routes, for profiles, posts, comments</p>
						<p>A discussion board set up for forums, threads, and comments</p>
						<p>Highly Expandable routes and tools</p>
						<p>Soon to be multiple front-end displays using the boilerplate</p>
					</div>
				</div>

				<div class='row row-center'>

					<button>
						<a href='https://github.com/Bashkir15/Application_Boilerplate'>
							<i class='fa fa-github'></i>
						</a>
					</button>
				</div>
			</div>
		</div>	
	</div>
</div>