<div id='open-opinionated'>
	<button>
		<span>See More</span>
	</button>
</div>

<div id='opinionated-dialog'>
	<div class='opinionated-dialog-content'>
		<div class='opinionated-dialog-header'>
			<div>
				<div>
					<h2>Opinionated</h2>
				</div>
			</div>

			<div>
				<div>
					<button id='close-opinionated'>
						<span>x</span>
					</button>
				</div>
			</div>
		</div>

		<div class='opinionated-dialog-body row'>
			<div class='opinionated-dialog-left'>
				<img src='../static/images/opinionated.jpeg'>
			</div>

			<div class='opinionated-dialog-right column'>
				<p>Opinionated is a discussion bored site, similar to Reddit or Hackernews, that has just reached an alpha release and is such is still in progress</p>

				<div class='row'>
					<i class='icon icon-genius'></i>

					<div>
						<h4>Features</h4>
						<p>JWT Based User Authentication</p>
						<p>Create Streams for what you want to see</p>
						<p>Populate those Streams with Threads and Comments</p>
						<p>Fight for Score based on your content</p>
						<p>Follow User's whose content you enjoy</p>
						<p>Become the Mod of your own group</p>
						<p>Personalize your profile with pictures and info</p>
					</div>
				</div>

				<div class='row row-center'>
					<button>
						<a href='https://opinionate.herokuapp.com'>
							<span>See Site</span>
						</a>
					</button>

					<button>
						<a href='https://github.com/Bashkir15/Opinionated'>
							<i class='fa fa-github'></i>
						</a>
					</button>
				</div>
			</div>
		</div>	
	</div>
</div>