@keyframes fade-out
	0%
		opacity: 1

	100%
		opacity: 0

@keyframes fade-in
	0%
		opacity: 0

	100%
		opacity: 1



body
	position: relative
	height: 100vh
	min-height: 100vh
	overflow-x: hidden
	background: none
	animation: fade-in .5s ease-in

	&.route-changing
		animation: fade-out 1s ease-out

.nav
	display: flex
	align-items: stretch
	justify-content: stretch
	position: fixed
	top: 0
	left: 0
	height: 50px
	width: 100%
	background: #fff
	padding: 20px 0
	border-bottom: 1px solid rgba(0,0,0,0.12)
	z-index: 100
	transition: all .8s ease-out

	&.nav--scrolled
		padding: 0
		transition: all .8s ease-in

.nav-left
	display: flex
	flex: 1
	align-items: stretch
	justify-content: flex-start

.nav-right
	display: flex
	flex: 1
	align-items: stretch
	justify-content: flex-end

.nav-item
	display: flex
	align-items: center
	justify-content: center
	padding: 10px

	h3
		@include muli
		font-weight: 400
		letter-spacing: 2px
		color: rgba(0,0,0,0.35)
		

	button
		height: 40px
		width: 40px
		background: none
		border: none
		border-radius: 2px
		outline: none
		cursor: pointer

		i
			font-size: 24px
			color: #52b588


//	background: #485563
//	background: linear-gradient(to left, #485563, #29323c)




@import "./shared/shared"
@import "./home/home"
@import "./about/about"
@import "./skills/skills"
@import "./works/works"
@import "./dialogs/dialogs"
@import "./notifications/notifications"
