.main-nav
	display: flex
	align-items: stretch
	justify-content: stretch
	position: relative
	height: 50px

.nav-left
	display: flex
	flex: 1
	align-items: stretch
	justify-content: flex-start

.nav-right
	display: flex
	flex: 1
	align-items: stretch
	justify-content: flex-end

.nav-item
	display: flex
	align-items: center
	justify-content: center
	padding: 10px