<div class='skills-section-container row'>
	<div class='skills-section-left'>
		<i class='icon icon-genius'></i>
		<h3>Backend</h3>
	</div>

	<div class='skills-section-right'>
		<p>On the Frontend I try to make things run as smoothy as possible. I use semantic HTML5 elements for better accessibility and readibility. Starting with a mobile first approach I build the structure of the page according to best practices, sometimes using a templating engine such as EJS to allow for seperation of concerns as well as dynamic variables</p>

		<p>Once the page is structured, I take a mobile-first approach to styling the page. I use CSS3 preprocessors to evolve the language into a complete programming language, allowing me to write variables and functions, as well as providing a good way to structure my CSS</p>

		<p>By this point I will have already done my research to decide what the best set of tools is for the job. Sometimes native ES6 javascript will suffice, as it did for this site, for a large data-driven application I might chose something like Angular or React, or for a simple Single Page Application something like Vue</p>

		<p>Finally, after all of this, we are left with a beatuiful, fully-functioning, responsive application that we can be proud of. This is my favorite step that really fuels the entire journey -- the transition of the dream from the mind to the screen</p>
	</div>
</div>
<div class='skills-decorator'></div>